button.add-btn-right
{
  float: right;
}
button.add-btn-right a
{
  color: #fff;
}
.image-preview
{
  width: 10%;
}
.image-preview-input 
{
  position: relative;
  overflow: hidden;
  margin: 0px;    
  color: #333;
  background-color: #fff;
  border-color: #ccc;    
}
.image-preview-input input[type=file] 
{
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.image-preview-input-title 
{
    margin-left:2px;
} 