* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	/*transition-duration: .3s;*/
	font-family: 'Roboto', sans-serif;
}
body {
	/*font-family: 'Raleway', sans-serif;*/
	background: #f5f5f5;	
	font-family: 'Roboto', sans-serif;
	/*transition-duration: .3s;*/
}
.clearfix {
	clear: both;
}
.container {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}
.top {
	width: 100%;
	background: #35bfae;
	padding: 10px 0;
}
.top_left {
	width: 25%;
	float: left;
}
.top_right {
	/*width: 33%;*/
	float: right;
}
.top_left p {
	margin: 0;
	font-size: 14px;
	color: #fff;
	/*font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";*/
	font-family: 'Roboto', sans-serif;
}
.top_left p b {
	font-size: 17px;
}
.top_right ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.top_right ul li {
	display: inline-block;
	color: #fff;
}
.top_right ul li a {
	color: #fff;
	padding: 0 6px;
	box-sizing: border-box;
	text-decoration: none;
	font-size: 12px;
}
.top_right ul li a:hover {
	color: #acfff5;
}
.header {
	width: 100%;
	background: #fff;
	padding: 10px 0;
}
.logo {
	width: 22%;
	float: left;
	transition-duration: .3s
}
.logo img {
	width: 100%;
	transition-duration: .3s
}
.options {
	width: 38%;
	float: right;
}
.options ul {
	list-style: none;
	transition-duration: .3s
}
.options ul li {
	padding: 0 15px;
	box-sizing: border-box;
	text-transform: uppercase;
	font-weight: 500;
	color: #5b5b5b;
	display: inline-block;
	position: relative;
	border-right: #e6e6e6 solid 1px;
 transition-duration: .3s;
}
.options ul li:hover {
	color: #35bfae;
	cursor: pointer;
 transition-duration: .3s;
}
 .options ul li:nth-child(4) {
 border-right: 0;
}
.options ul li img {
	display: block;
	transition-duration: .3s
}
.options ul li .wish {
	width: 50%;
	margin: 0 auto;
	padding: 0;
}
.options ul li .cart {
	position: absolute;
	background: #c21818;
	color: #fff;
	font-size: 20px;
	padding: 0 6px;
	box-sizing: border-box;
	border-radius: 50%;
	top: 5px;
	right: 20px;
}
.options ul li span {
	display: block;
	text-align: center;
	font-size: 32px;
	color: #1d548d;
 transition-duration: .3s;
}
.options ul li span:hover {
	color: #35bfae;
 transition-duration: .3s;
}
.slider_section {
	width: 100%;
	position: relative;
	margin: 0;
	background: url(../images/main_bg.png);
	overflow: hidden;
	background-position-x: 50%;
	background-size: cover;
}
.img1 {
	position: absolute;
	top: 0;
	left: -330px;
	z-index: 1;
}
.img2 {
	position: absolute;
	top: 0;
	right: -230px;
	z-index: 1;
}
.easy_section {
	width: 100%;
	padding: 50px 0;
	background: url(../images/easy_section.png);
	background-size: cover;
}
.easy_section h2 {
	text-transform: uppercase;
	font-size: 40px;
	color: #fff;
	font-weight: 500;
	text-align: center;
	margin: 0;
}
.easy_row {
	margin-top: 30px;
}
.easy_row h4 {
	font-size: 16px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 20px;
}
.easy_box {
	background: url(../images/border.png) no-repeat;
	background-position: right;
	background-size: contain;
	width: 24%;
	float: left;
	text-align: center;
}
 .easy_box:nth-child(4) {
 background: none;
}
.easy_box span {
	font-size: 52px;
	color: #fff;
}
#slider img {
	width: inherit !important;
}
.navigation {
	width: 100%;
	background: #144d88;
	padding-top: 15px;
	-webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}
.menu {
	width: 22%;
	float: left;
	position: relative;
}
 .menu::after {
 content: '';
 width: 258px;
 height: 27px;
 background: url(../images/nav_after.png);
 position: absolute;
 bottom: -15px;
 z-index: 1;
 background-size: 100% 100%;
}
.dropbtn {
	background-color: #1e9fbc;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 700;
	width: 100%;/*	font-size: 15pt;*/

}
.dropbtn .fa-bars {
	float: left;
}
.dropbtn img {
	float: right;
	margin-top: 6px;
}
.dropbtn:hover, .dropbtn:focus {
	background-color: #1e9fbc;
}
.dropdown {
	position: relative;
	display: inline-block;
	width: 100%;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
/*	overflow: auto;*/
	overflow: visible;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-menu
{
	list-style: none;
}
.dropdown-content a {
	color: #484848;
	font-weight: 400;
	padding: 10px 16px;
	text-decoration: none;
	display: block;
	text-transform: uppercase;
	font-size: 14px;
	border-bottom: #e6e6e6 solid 1px;
}
.dropdown-content a span {
	font-size: 20px;
}
.dropdown-content a:hover {
	color: #1e9fbc;
}
.dropdown a:hover {
	background-color: #ddd;
}
.show {
	display: block;
	z-index: 99999999;
	width: 100%;
	background: #fff;
}
.dropdown a:hover {
	background-color: #fff;
}
.dropdown-menu {
	padding-top: 10px;
}
.dropdown-menu li {
	padding: 5px 0;
}
.dropdown-menu li span {
	margin-right: 15px;
}
.arrow {
	margin: 0 !important;
	padding: 0;
	float: right;
	color: #969696;
	font-size: 12px;
}
.nav_right {
	width: 76%;
	float: right;
}
.in_left input {
	width: 100%;
	font-size: 14px;
	color: #7c7c7c;
	padding: 15px 200px 13px 20px;
	box-sizing: border-box;
}
.in_left button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 12px 40px;
	box-sizing: border-box;
	cursor: pointer;
	background: #1e9fbc;
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
}
.in_left button span {
	margin-right: 10px;
	font-size: 20px;
}
.in_left {
	width: 70%;
	float: left;
	position: relative;
}
.in_right {
	width: 27%;
	float: right;
}
.in_right button {
	width: 100%;
	padding: 12px 0;
	background: #1e9fbc;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 12px;
}
.in_right button:hover {
	background: #35bfae;
}
.in_right button .fa-map-marker-alt {
	margin-right: 10px;
	font-size: 20px;
}
.offers {
	width: 100%;
	padding: 50px 0;
	background: #f5f5f5;
}
.offers h2 {
	background: url(../images/heading_bg.png) no-repeat;
	color: #fff;
	font-size: 30px;
	line-height: 32px;
	text-transform: uppercase;
	padding: 10px 15px;
	box-sizing: border-box;
	font-weight: 500;
}
.offers_box {
	width: 97%;
	float: left;
	background: #fff;
	margin-right: 2%;
	padding: 0;
	/*	padding: 45px 0 0 0;*/
	transition-duration: .3s;
	/*box-shadow: 5px 1px 10px #c1c1c1;*/
}
 .offers_box:nth-child(4) {
 margin-right: 0;
}
.box_img {
	width: 100%;
	text-align: center;
	margin-bottom: 40px;
	position: relative;
}
.box_img img {
/*	width: 50% !important;	*/

}
.clr_shape {
	position: absolute;
	top: -35px;
	right: 15px;
	width: 8% !important;
}
.box_details {
	width: 100%;
	background: #144d88;
	padding: 15px 10px;
	box-sizing: border-box;
}
.box_details h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #fff;
	font-size: 18px;
}
.box_details h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #fff;
	font-size: 26px;
	line-height: 29px;
	position: relative;
	margin: 8px 0;
	padding: 8px 0 0 0;
	z-index: 99;
}
.box_details h2 span {
	font-weight: 400;
	font-size: 14px;
	text-transform: lowercase;
}
 .box_details h2::before {
 content: '';
 width: 197px;
 height: 42px;
 background: url(../images/price_tag.png) no-repeat;
 position: absolute;
 left: -12px;
 top: 0;
 z-index: -9999;
}
.box_details h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #fff;
	font-size: 14px;
}
.box_details h4 span:hover {
	color: #80beff;
	cursor: pointer;
}
.details_left {
	width: 50%;
	float: left;
}
.details_right {
	width: 50%;
	float: right;
	text-align: center;
	padding: 40px 0;
}
.details_right a {
	text-decoration: none;
	background: #35bfae;
	color: #fff;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	padding: 10px 18px;
	box-sizing: border-box;
	border-radius: 5px;
 transition-duration: .3s;
}
.details_right a:hover {
	background: none;
	border: #fff solid 1px;
 transition-duration: .3s;
}
.deals h2 {
	background: url(../images/sm_heading.png) no-repeat;
}
.deals_box {
	padding: 0;
	width: 99%;
	box-shadow: none;
	transition-duration: .3s;
}
.deals_box_img {
	margin-bottom: 0;
	padding: 0 10px 5px 10px;
	box-sizing: border-box;
}
.deals_box .clr_shape {
	top: 10px;
}
.deals_box h3 {
	font-size: 16px;
	color: #144d88;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
.deals_box_details {
	background: linear-gradient(#ebebeb, #ffffff);
	padding: 1px 10px 10px 10px;
	box-sizing: border-box;
}
.deals_box_details h2 {
	background: url(../images/price_tag.png) no-repeat;
	background-size: 100% 100%;
}
.deals_box_details h4 {
	color: #144d88;
}
.deals_box_details h4:hover {
	color: #6890b9;
	cursor: pointer;
}
.deals_box_details h4 span, .deals_box_details h4 span:hover {
	color: #575757;
}
.deals_box_details a {
	display: block;
	text-align: center;
	width: 60%;
	margin: 0 auto;
	margin-top: 10px;
	text-decoration: none;
	background: #35bfae;
	color: #fff;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	padding: 10px 16px;
	box-sizing: border-box;
	border-radius: 5px;
	border: #35bfae solid 1px;
 transition-duration: .3s;
}
.deals_box_details a:hover {
	background: none;
 transition-duration: .3s;
	color: #35bfae;
}
.products {
	width: 100%;
	background: #f5f5f5;
	padding: 50px 0;
}
.w3-button {
	padding: 17px 50px;
	box-sizing: border-box;
	background: #144d88;
	font-weight: 500;
	color: #fff;
	font-size: 22px;
	text-transform: uppercase;
	transform: skewX(20deg);
	cursor: pointer;
	position: relative;
}
.w3-button p {
	transform: skewX(-20deg);
}
 .w3-button:nth-child(1)::before {
 content: '';
 width: 68px;
 height: 60px;
 background: url(../images/blue.png);
 position: absolute;
 top: 0;
 left: -20px;
 transform: skewX(-20deg);
}
/*

.w3-button:active, .w3-button:focus {

	background: #fff;

	color: #144d88;

}

.w3-button:active, .w3-button:focus::before {

	background: url(../images/white.png);

}

*/

.w3-bar {
	padding-left: 20px;
}
.pro_box {
	width: 90%;
	padding: 0;
	margin: 0;
	background: none;
}
.pro_box img {
	border: #ccc solid 1px;
	box-shadow: none;
}
.pro_box h3 {
	font-size: 12px;
	color: #000000;
	font-weight: 500;
	margin-top: 10px;
}
.pro_box h3:hover {
	color: #144d88;
	cursor: pointer;
}
.pro_main {
	background: #fff;
	padding: 50px 60px;
	box-sizing: border-box;
}
.advantage_section {
	background: url(../images/advantage.png) no-repeat;
	background-size: cover;
}
.adv_box span {
	font-size: 72px;
}
.adv_box h4 {
	font-size: 24px;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	margin-top: 10px;
}
.adv_box h4 span {
	font-size: 16px;
	display: block;
	font-weight: 400;
}
.links_section {
	width: 100%;
	padding: 30px 0 40px 0;
	background: #2d2d2d;
}
.links1 {
	width: 15.5%;
	float: left;
	margin-right: 1%;
}
 .links1:nth-child(6) {
 margin-right: 0;
}
.links1 h3 {
	width: 100%;
	background: url(../images/last_heading.png) no-repeat;
	background-size: cover;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	padding: 4px 10px;
	box-sizing: border-box;
}
.links1 ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 15px;
}
.links1 ul li {
	padding: 0;
	margin: 0;
}
.links1 ul li a {
	display: block;
	color: #fff;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 13px;
	padding: 6px 8px;
	box-sizing: border-box;
}
.links1 ul li a:hover {
	color: #ccc;
}
.social_footer li {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.social_footer li a {
	padding: 0 !important;
	opacity: 1;
}
.social_footer li a:hover {
	opacity: .7;
}
footer {
	width: 100%;
	background: #000000;
	padding: 10px 0;
	text-align: center;
}
footer p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 13px;
	color: #fff;
}
.deals_box_img2 {
	background: url(../images/no_clr.png) no-repeat;
	background-position-x:95%;
	background-position-y:5%;
	padding: 50px 20px 10px 20px;
	box-sizing: border-box;
	margin: 0;
}
.activepro {
	background: url(../images/clr_shape.png) no-repeat;
	background-color: #fff;
	padding: 50px 20px 10px 20px;
	box-sizing: border-box;
	background-position-x:95%;
	background-position-y:5%;
}
.owl-carousel1 .owl-dot, .owl-carousel1 .owl-nav {
	float: right;
	position: absolute;
	top: -45px;
	right: 10px;
	display: inline-block;
}
.owl-carousel1 .owl-dot, .owl-carousel1 .owl-nav .owl-prev {
	float: left;
	margin-right: 10px;
}
.owl-carousel1 .owl-dot, .owl-carousel1 .owl-nav .owl-next {
	float: right;
}
.owl-carousel2 .owl-dot, .owl-carousel2 .owl-nav .owl-prev {
	float: left;
	margin-left: -40px;
	margin-top: -150px;
}
.owl-carousel2 .owl-dot, .owl-carousel2 .owl-nav .owl-next {
	float: right;
	margin-right: -20px;
	margin-top: -150px;
}
.about_main {
	width: 100%;
	padding: 60px 0 100px 0;
	background: #f5f5f5
}
.head_bg {
	width: 30%;
	background: url(../images/heading_bg.png) no-repeat;
	color: #fff;
	font-size: 30px;
	line-height: 32px;
	text-transform: uppercase;
	padding: 10px 15px;
	box-sizing: border-box;
	font-weight: 500;
	background-size: 100% 100%;
}
.who_heading {
	width: 100%;
	display: block;
	margin-top: 30px;
	margin-bottom: 35px;
}
.who_heading h2 {
	font-size: 30px;
	color: #000;
	font-weight: 500;
	position: relative;
}
 .who_heading h2::after {
 content: '';
 width: 100%;
 height: 13px;
 background: url(../images/who_after.png);
 background-size: 100% 100%;
 position: absolute;
 left: 0;
 bottom: -20px;
}
.who_left {
	width: 45%;
	float: left;
}
.who_right {
	width: 40%;
	float: right;
}
.who_details {
	width: 100%;
}
.who_details p {
	margin-top: 20px;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #494949;
	text-align: justify;
}
.owl-item {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
}

/*

.who_details p span

{

	font-weight: 700;

	color: #000;

	font-size: 14px;

	margin-right: 10px;

}

*/

/*

.who_details .who2

{

	width: 92%;

	float: right;

	font-weight: 400;

}

.who_details2 p

{

	margin-top: 35px;

}

*/



/*

.who_details ol li::before {

	content: counter(li);

	color: #000;

	font-weight: 700;

    display: inline-block;

	width: 30px;

	margin-left: -16px;

}

*/

.who_details ol li::before {
 content: counter(li);
 color: #000;
 font-weight: 700;
 margin-left: -16px;
 margin-right: 6px;
}
.who_details ol li {
	counter-increment: li;
	margin-top: 20px;
	text-align: justify;
}
.offer_search_box {
	width: 23%;
	float: left;
	margin-right: 1.8%;
	background: #fff;
	border: #cecece solid 1px;
	/*margin-top: 30px;*/
}
/*.offer_search_box:nth-child(6n)

{

	margin-right: 0;

}*/





.offer_search_box .deals_box_details h2 {
	background: url(../images/price_tag.png) no-repeat;
	background-size: 100% 100%;
	width: 80%;
}
.offer_search_box .deals_box_details {
	padding: 1px 10px 20px 10px;
}
.results {
	padding: 0 0 50px 0;
}
.results h2 {
	width: 40%;
	background-size: 100% 100%;
}
.result_box {
	width: 100%;
	padding: 20px 30px;
	box-sizing: border-box;
	border: #d2d2d2 solid 1px;
	background: #fff;
	margin-top: -1px;
	margin-left: 1px;
}
.result_sm_fld {
	width: 22%;
	float: left;
	text-align: center;
	font-size: 24px;
	color: #d3d3d3;
	margin-right: 40px;
}
.result_sm_fld h3, .result_sm_fld_hf h3 {
	font-weight: 500;
	font-size: 14px;
	margin-bottom: 8px;
	text-align: left;
	color: #000;
}
.result_box input, select {
	width: 100%;
	border: #d3d3d3 solid 1px;
	padding: 10px 10px;
	box-sizing: border-box;
	color: #7c7c7c;
}
.result_sm_fld_half {
	width: 45%;
	float: left;
}
.result_sm_fld span {
/*	text-align: center;*/

}
 .result_sm_fld_half:nth-child(even) {
 float: right;
}
.result_sm_fld_hf {
	width: 14%;
	float: left;
	margin-right: 35px;
}
.result_sm_fld_hf2 {
	margin-right: 0;
}
.result_sm_fld_hf2 button {
	width: 100%;
	color: #fff;
	font-size: 14px;
	background: #1e9fbc;
	padding: 11px 0;
	margin-top: 23px;
 transition-duration: .3s;
	border: #1e9fbc solid 1px;
	font-weight: 500;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}
.result_sm_fld_hf2 button:hover {
	background: none;
	/*	background: #17839b;*/

	cursor: pointer;
	border: #1e9fbc solid 1px;
	color: #1e9fbc;
 transition-duration: .3s;
}
.contact_left {
	width: 40%;
}
.input_main {
	width: 100%;
	margin-top: 15px;
}
.input_main input {
	width: 100%;
	padding: 10px 10px;
	box-sizing: border-box;
	border: #d0d0d0 solid 1px;
	font-size: 14px;
	color: #7c7c7c;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
 transition-duration: .4s;
}
.input_main input:focus {
	box-shadow:  0px 0px 18px 0px rgba(0, 0, 0, 0.2);
 transition-duration: .4s;
}
.input_main button {
	width: 100%;
	background: #1e9fbc;
	padding: 10px 0;
	font-size: 14px;
	font-weight: 700;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	color: #fff;
 transition-duration: .3s;
}
.input_main button:hover {
	background: none;
	/*	background: #17839b;*/

	cursor: pointer;
	border: #1e9fbc solid 1px;
	color: #1e9fbc;
 transition-duration: .3s;
}
.input_main p {
	border: #000 solid 1px;
	margin: 0;
	padding: 5px 0;
	text-align: center;
	color: #000;
	font-weight: 700;
	background: #fff;
}
.input_quater {
	width: 70%;
	float: left;
}
.input_halfer {
	width: 28%;
	float:right;
}
.customer_details {
	background: #fff;
	padding: 20px 140px 40px 10px;
	box-sizing: border-box;
}
.customer_details .row {
	width: 100%;
	margin: 20px 5px;
}
.customer_details .row .img_sm {
	display: inline-block;
	width: 8%;
}
.customer_details .row .img_sm img {
	width: 100%;
}
.customer_details .row h3 {
	font-size: 14px;
	color: #000000;
	font-weight: 500;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	display: inline-block;
	margin-left: 20px
}
.customer_details .row h3 span {
	display: block;
	color: #494949;
	font-weight: 400;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
}
.opennav {
	z-index: 99999999;
	width: 100%;
	background: #fff;
}
.signup {
	width: 68%;
	margin: 0 auto;
}
.sign_heading {
	background: #1e9fbc;
	padding: 15px 0 15px 40px;
	box-sizing: border-box;
}
.sign_heading h2 {
	font-size: 20px;
	color: #fff;
	font-weight: 500;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}
.sign_details {
	background: #fff;
	padding: 15px 40px 40px 40px;
	box-sizing: border-box;
	border: #d4d4d4 solid 1px;
}
.sign_inner_head {
	width: 100%;
	margin-bottom: 20px;
}
.sign_inner_head_2 {
	margin-top: 45px;
}
.sign_inner_head h2 {
	color: #144d88;
	font-size: 20px;
	font-weight: 500;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
}
.input_main2 {
	width: 90%;
	margin: 0 auto;
	margin-top: 15px;
}
.field_left {
	width: 24%;
	float: left;
}
.field_right {
	width: 70%;
	float: right;
}
.input_main2 input, .input_main2 select {
	background: #e8e8e8;
}
.field_left label, .field_right label {
	font-size: 14px;
	font-weight: 400;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
}
.field_left label span {
	color: #ff0000;
	position: relative;
	top: 10px;
	font-size: 29px;
}
label.error {
	color: #ff0000;
}
input.error, select.error {
	border: #ff0000 solid 1px;
}
hr {
	border-bottom: #d4d4d4 solid 1px;
	padding-top: 25px;
}
.field_right input[type="checkbox"] {
	width: 7%;
}
.field_right input[type="checkbox"]:focus {
	box-shadow: none;
}
.field_right button {
	background: #35bfae;
	border: #35bfae solid 1px;
	font-size: 18px;
	font-weight: 500;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}
.field_right button:hover {
	color: #35bfae;
	border: #35bfae solid 1px;
}
.pro_detalis_main {
	padding: 55px 0 70px 0;
}
.pro_detalis_main h2 {
	text-transform: capitalize;
}
.pro_sold_result {
	margin-bottom: 30px;
}
.more_itm {
	width: 45% !important;
}
.pro_top_main {
	width: 100%;
	margin-bottom: 30px;
}
.pro_top_left {
	width: 70%;
	float: left;
}
.pro_top_right {
	width: 28%;
	float: right;
	border: #d0d0d0 solid 1px;
}
.pro_top_box {
	width: 100%;
	margin-top: 0;
}
.pro_top_box_img {
	width: 43%;
	float: left;
	background-position-x: 2%;
	padding: 70px 20px 60px 20px;
}
.pro_top_box_img img {
	width: 100%;
}
.pro_top_box_det {
	width: 54%;
	float: right;
	background: #fff;
	padding: 10px !important;
	box-sizing: border-box;
}
 .pro_det_box:nth-child(6n) {
 margin-right: 1.8%;
}
.total {
	margin-top: 30px;
	color: #000 !important;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}
.pro_top_box_det h1 {
	color: #144d88;
	font-size: 30px;
	font-weight: 600;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	border-bottom: #b2b2b2 solid 1px;
	padding-bottom: 10px;
}
.pro_feature {
	margin-top: 20px;
}
.pro_feature ul {
	list-style: none;
}
.pro_feature ul li {
	font-size: 14px;
	color: #5f5f5f;
	font-weight: 400;
	line-height: 20px;
}
.pro_feature ul li span {
	color: #1e9fbc;
	font-size: 10px;
	margin-right: 10px;
}
.pro_feature h3 {
	font-size: 14px;
	color: #000000;
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 15px;
	font-family: 'Roboto', sans-serif;
}
.pro_top_box_det h2 {
	width: 30% !important;
}
.pro_top_head {
	padding: 15px 30px;
	box-sizing: border-box;
}
.pro_top_head h3 {
	font-size: 14px;
	color: #000;
	font-weight: 500;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
}
.pro_top_head h2 {
	font-size: 18px;
	color: #144d88;
	font-weight: 500;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	background: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
.pro_top_head h4 {
	font-size: 14px;
	color: #575757;
	font-weight: 500;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
}
.pro_top_head_btm {
	background: #fff;
	padding: 15px 30px;
	box-sizing: border-box;
	border-top: #d0d0d0 solid 1px;
}
.pro_top_head_btm h2 {
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	font-weight: 500;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	background: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
.pro_top_head_btm h2 span {
	font-size: 18px;
	line-height: 22px;
	font-weight: 600;
	color: #c21818;
	display: block;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
}
.head_btm_heading {
	margin-bottom: 10px;
}
.head_btm_form h2 {
	margin-bottom: 4px;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	font-weight: 500;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}
 .* {
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
}
body {
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
}
.clearfix {
	clear: both;
}
.container {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}
.top {
	width: 100%;
	background: #35bfae;
	padding: 10px 0;
}
.top_left {
	width: 25%;
	float: left;
}
.top_right {
	/*width: 33%;*/
	float: right;
}
.top_left p {
	margin: 0;
	font-size: 14px;
	color: #fff;
	/*font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";*/
	font-family: 'Roboto', sans-serif;
}
.top_left p b {
	font-size: 17px;
}
.top_right ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.top_right ul li {
	display: inline-block;
	color: #fff;
}
.top_right ul li a {
	color: #fff;
	padding: 0 6px;
	box-sizing: border-box;
	text-decoration: none;
	font-size: 12px;
 transition-duration: .3s;
}
.top_right ul li a:hover {
	color: #acfff5;
 transition-duration: .3s;
}
.header {
	width: 100%;
	background: #fff;
	padding: 10px 0;
}
.logo {
	width: 22%;
	float: left;
}
.logo img {
	width: 100%;
}
.options {
	width: 38%;
	float: right;
}
.options ul {
	list-style: none;
}
.options ul li {
	padding: 0 15px;
	box-sizing: border-box;
	text-transform: uppercase;
	font-weight: 500;
	color: #5b5b5b;
	display: inline-block;
	position: relative;
	border-right: #e6e6e6 solid 1px;
 transition-duration: .3s;
}
.options ul li:hover {
	color: #35bfae;
	cursor: pointer;
 transition-duration: .3s;
}
 .options ul li:nth-child(4) {
 border-right: 0;
}
.options ul li img {
	display: block;
}
.options ul li .wish {
	width: 38px;
	margin: 0 auto;
	padding: 0;
}
.options ul li .cart {
	position: absolute;
	background: #c21818;
	color: #fff;
	font-size: 20px;
	padding: 0 6px;
	box-sizing: border-box;
	border-radius: 50%;
	top: 5px;
	right: 30px;
}
.options ul li span {
	display: block;
	text-align: center;
	font-size: 32px;
	color: #1d548d;
}
.options ul li span:hover {
	color: #35bfae;
}
.options ul li a {
	text-decoration:none;
	color:#5b5b5b;
}
.options ul li a:hover {
	color:#35bfae
}
.slider_section {
	width: 100%;
	position: relative;
	margin: 0;
	background: url(../images/main_bg.png);
	overflow: hidden;
	background-position-x: 50%;
	background-size: cover;
}
.img1 {
	position: absolute;
	top: 0;
	left: -330px;
	z-index: 1;
}
.img2 {
	position: absolute;
	top: 0;
	right: -230px;
	z-index: 1;
}
.easy_section {
	width: 100%;
	padding: 50px 0;
	background: url(../images/easy_section.png);
	background-size: cover;
}
.easy_section h2 {
	text-transform: uppercase;
	font-size: 40px;
	color: #fff;
	font-weight: 500;
	text-align: center;
	margin: 0;
}
.easy_row {
	margin-top: 30px;
}
.easy_row h4 {
	font-size: 16px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 20px;
}
.easy_box {
	background: url(../images/border.png) no-repeat;
	background-position: right;
	background-size: contain;
	width: 24%;
	float: left;
	text-align: center;
}
 .easy_box:nth-child(4) {
 background: none;
}
.easy_box span {
	font-size: 52px;
	color: #fff;
}
#slider img {
	width: inherit !important;
}
.navigation {
	width: 100%;
	background: #144d88;
	padding-top: 15px;
}
.menu {
	width: 22%;
	float: left;
	position: relative;
}
 .menu::after {
 content: '';
 width: 258px;
 height: 27px;
 background: url(../images/nav_after.png);
 position: absolute;
 bottom: -15px;
 z-index: 111;
 background-size: 100% 100%;
 left: 0;
}
.dropbtn {
	background-color: #1e9fbc;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 500;
	width: 100%;/*	font-size: 15pt;*/

}
.dropbtn .fa-bars {
	float: left;
}
.dropbtn img {
	float: right;
	margin-top: 6px;
}
.dropbtn:hover, .dropbtn:focus {
	background-color: #1e9fbc;
}
.dropdown {
	position: relative;
	display: inline-block;
	width: 100%;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
/*	overflow: auto;*/
	overflow: visible;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-content a {
	color: #484848;
	font-weight: 400;
	padding: 10px 16px;
	text-decoration: none;
	display: block;
/*	text-transform: uppercase;*/
	text-transform: capitalize;
	font-size: 14px;
	border-bottom: #e6e6e6 solid 1px;
}
.dropdown-content a span {
	font-size: 20px;
}
.dropdown-content a:hover {
	color: #1e9fbc;
}
.dropdown a:hover {
	background-color: #ddd;
}
.show {
	display: block;
	z-index: 99999999;
	width: 100%;
	background: #fff;
}
.dropdown a:hover {
	background-color: #fff;
}
.dropdown-menu {
	padding-top: 10px;
}
.dropdown-menu li {
	padding: 5px 0;
}
.dropdown-menu li span {
	margin-right: 15px;
}
.arrow {
	margin: 0 !important;
	padding: 0;
	float: right;
	color: #969696;
	font-size: 12px;
}
.nav_right {
	width: 76%;
	float: right;
}
.in_left input {
	width: 100%;
	font-size: 14px;
	color: #7c7c7c;
	padding: 10px 200px 10px 20px;
	/*	padding: 15px 200px 13px 20px;*/

	box-sizing: border-box;
}
.in_left button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 9px 40px;
	/*	padding: 13px 40px;*/

	box-sizing: border-box;
	cursor: pointer;
	background: #1e9fbc;
	color: #fff;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
 /*transition-duration: .3s;*/
}
.in_left button span {
	margin-right: 10px;
	font-size: 17px;
}
.in_left button:hover {
	background: #35bfae;
 transition-duration: .3s;
}
.in_left {
	width: 70%;
	float: left;
	position: relative;
}
.in_right {
	width: 27%;
	float: right;
}
.in_right button {
	width: 100%;
	padding: 10px 0;
	/*	padding: 14px 0;*/

	background: #1e9fbc;
	color: #fff;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 12px;
 transition-duration: .3s;
}
.in_right button:hover {
	background: #35bfae;
 transition-duration: .3s;
}
.in_right button .fa-map-marker-alt {
	margin-right: 10px;
	font-size: 16px;
}
.offers {
	width: 100%;
	padding: 50px 0;
	background: #f5f5f5;
}
.offers h2 {
	background: url(../images/heading_bg.png) no-repeat;
	color: #fff;
	font-size: 30px;
	line-height: 32px;
	text-transform: uppercase;
	padding: 10px 15px;
	box-sizing: border-box;
	font-weight: 500;
}
.offers_box {
	width: 97%;
	float: left;
	background: #fff;
	margin-right: 2%;
	padding: 0;
	/*	padding: 45px 0 0 0;*/

	/*box-shadow: 5px 1px 10px #c1c1c1;*/
}
 .offers_box:nth-child(4) {
 margin-right: 0;
}
.box_img {
	width: 100%;
	text-align: center;
	margin-bottom: 40px;
	position: relative;
}
.box_img img {
/*	width: 50% !important;	*/

}
.clr_shape {
	position: absolute;
	top: -35px;
	right: 15px;
	width: 8% !important;
}
.box_details {
	width: 100%;
	background: #144d88;
	padding: 15px 10px;
	box-sizing: border-box;
}
.box_details h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #fff;
	font-size: 18px;
}
.box_details h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #fff;
	font-size: 26px;
	line-height: 28px;
	position: relative;
	margin: 8px 0;
	padding: 8px 0 0 0;
	z-index: 99;
}
.box_details h2 span {
	font-weight: 400;
	font-size: 14px;
	text-transform: lowercase;
}
 .box_details h2::before {
 content: '';
 width: 197px;
 height: 40px;

/*	height: 42px;*/

	background: url(../images/price_tag.png) no-repeat;
 position: absolute;
 left: -12px;
 top: 0;
 z-index: -9999;
 background-size: 100% 100%;
}
.box_details h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #fff;
	font-size: 14px;
}
.box_details h4 span:hover {
	color: #80beff;
	cursor: pointer;
}
.details_left {
	width: 50%;
	float: left;
}
.details_right {
	width: 50%;
	float: right;
	text-align: center;
	padding: 40px 0;
}
.details_right a {
	text-decoration: none;
	background: #35bfae;
	color: #fff;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	padding: 10px 18px;
	box-sizing: border-box;
	border-radius: 5px;
 transition-duration: .3s;
}
.details_right a:hover {
	background: none;
	border: #fff solid 1px;
 transition-duration: .3s;
}
.deals h2 {
	background: url(../images/sm_heading.png) no-repeat;
}
.deals_box {
	padding: 0;
	width: 99%;
	box-shadow: none;
}
.deals_box_img {
	margin-bottom: 0;
	padding: 0 10px 5px 10px;
	box-sizing: border-box;
}
.deals_box .clr_shape {
	top: 10px;
}
.deals_box h3 {
	font-size: 16px;
	color: #144d88;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
.deals_box_details {
	background: linear-gradient(#ebebeb, #ffffff);
	padding: 1px 10px 10px 10px;
	box-sizing: border-box;
}
.deals_box_details h2 {
	background: url(../images/price_tag.png) no-repeat;
	background-size: 100% 100%;
}
.deals_box_details h4 {
	color: #144d88;
}
.deals_box_details h4:hover {
	color: #6890b9;
	cursor: pointer;
}
.deals_box_details h4 span, .deals_box_details h4 span:hover {
	color: #575757;
}
.deals_box_details a {
	display: block;
	text-align: center;
	width: 70%;
	margin: 0 auto;
	margin-top: 10px;
	text-decoration: none;
	background: #35bfae;
	color: #fff;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	padding: 10px 16px;
	box-sizing: border-box;
	border-radius: 5px;
	border: #35bfae solid 1px;
 transition-duration: .3s;
}
.deals_box_details a:hover {
	background: none;
 transition-duration: .3s;
	color: #35bfae;
}
.products {
	width: 100%;
	background: #f5f5f5;
	padding: 50px 0;
}
.w3-button {
	padding: 17px 50px;
	box-sizing: border-box;
	background: #144d88;
	font-weight: 500;
	color: #fff;
	font-size: 22px;
	text-transform: uppercase;
	transform: skewX(20deg);
	cursor: pointer;
	position: relative;/*	transition-duration: .3s;*/

}
.w3-button p {
	transform: skewX(-20deg);
}
 .w3-button:nth-child(1)::before {
 content: '';
 width: 68px;
 height: 60px;

/*	background: url(../images/blue.png);*/

	position: absolute;
 top: 0;
 left: -20px;
 transform: skewX(-20deg);
/*	transition-duration: .3s;*/

}
.active_btn {
	background: #fff;
	color: #144d88;/*	transition-duration: .3s;*/

}
.active_btn2 {
	background: #fff;
	color: #144d88;/*	transition-duration: .3s;*/

}
 .active_btn::before {
 background: url(../images/white.png) !important;
/*	transition-duration: .3s;*/

}
 .active_btn2::before {
 background: url(../images/white.png) !important;
/*	transition-duration: .3s;*/

}
 .active_btn:nth-child(1)::before {
 background: url(../images/white.png) !important;
/*	transition-duration: .3s;*/

}
 .w3-button:nth-child(1)::before {
 content: '';
 width: 68px;
 height: 60px;

/*	background: url(../images/blue.png);*/

	position: absolute;
 top: 0;
 left: -20px;
 transform: skewX(-20deg);
}

/*

.w3-button:active, .w3-button:focus,.w3-button:selected {

	background: #fff;

	color: #144d88;

}

.w3-button:active, .w3-button:focus::before {

	background: url(../images/white.png);

}

*/

.active_btn::before {
 background: url(../images/white.png);
}
.w3-bar {
	padding-left: 20px;
}
.pro_box {
	width: 90%;
	padding: 0;
	margin: 0;
	background: none;
}
.pro_box img {
	border: #ccc solid 1px;
	box-shadow: none;
}
.pro_box h3 {
	font-size: 12px;
	color: #000000;
	font-weight: 500;
	margin-top: 10px;
}
.pro_box h3:hover {
	color: #144d88;
	cursor: pointer;
}
.pro_main {
	background: #fff;
	padding: 50px 60px;
	box-sizing: border-box;
}
.advantage_section {
	background: url(../images/advantage.png) no-repeat;
	background-size: cover;
}
.adv_box span {
	font-size: 72px;
}
.adv_box h4 {
	font-size: 24px;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	margin-top: 10px;
}
.adv_box h4 span {
	font-size: 16px;
	display: block;
	font-weight: 400;
}
.links_section {
	width: 100%;
	padding: 30px 0 40px 0;
	background: #2d2d2d;
}
.links1 {
	width: 15.5%;
	float: left;
	margin-right: 1%;
}
 .links1:nth-child(6) {
 margin-right: 0;
}
.links1 h3 {
	width: 100%;
	background: url(../images/last_heading.png) no-repeat;
	background-size: cover;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	padding: 5px 10px;
	box-sizing: border-box;
}
.links1 ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 15px;
}
.links1 ul li {
	padding: 0;
	margin: 0;
}
.links1 ul li a {
	display: block;
	color: #fff;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 13px;
	padding: 6px 8px;
	box-sizing: border-box;
}
.links1 ul li a:hover {
	color: #ccc;
}
.social_footer li {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.social_footer li a {
	padding: 0 !important;
	opacity: 1;
}
.social_footer li a:hover {
	opacity: .7;
}
footer {
	width: 100%;
	background: #000000;
	padding: 10px 0;
	text-align: center;
}
footer p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 13px;
	color: #fff;
}
.deals_box_img2 {
	background: url(../images/no_clr.png) no-repeat;
	background-position-x:95%;
	background-position-y:5%;
	padding: 50px 20px 10px 20px;
	box-sizing: border-box;
	margin: 0;
}
.activepro {
	background: url(../images/clr_shape.png) no-repeat;
	background-color: #fff;
	padding: 50px 20px 10px 20px;
	box-sizing: border-box;
	background-position-x:95%;
	background-position-y:5%;
}
.owl-carousel1 .owl-dot, .owl-carousel1 .owl-nav {
	float: right;
	position: absolute;
	top: -45px;
	right: 10px;
	display: inline-block;
}
.owl-carousel1 .owl-dot, .owl-carousel1 .owl-nav .owl-prev {
	float: left;
	margin-right: 10px;
}
.owl-carousel1 .owl-dot, .owl-carousel1 .owl-nav .owl-next {
	float: right;
}
.owl-carousel2 .owl-dot, .owl-carousel2 .owl-nav .owl-prev {
	float: left;
	margin-left: -40px;
	margin-top: -120px;
}
.owl-carousel2 .owl-dot, .owl-carousel2 .owl-nav .owl-next {
	float: right;
	margin-right: -20px;
	margin-top: -120px;
	/*margin-top: -150px;*/
}

.about_main {
	width: 100%;
	padding: 60px 0 100px 0;
	background: #f5f5f5
}
.head_bg {
	width: 30%;
	background: url(../images/heading_bg.png) no-repeat;
	color: #fff;
	font-size: 30px;
	line-height: 32px;
	text-transform: uppercase;
	padding: 10px 15px;
	box-sizing: border-box;
	font-weight: 500;
	background-size: 100% 100%;
}
.who_heading {
	width: 100%;
	display: block;
	margin-top: 30px;
	margin-bottom: 35px;
}
.who_heading h2 {
	font-size: 30px;
	color: #000;
	font-weight: 500;
	position: relative;
}
 .who_heading h2::after {
 content: '';
 width: 100%;
 height: 13px;
 background: url(../images/who_after.png);
 background-size: 100% 100%;
 position: absolute;
 left: 0;
 bottom: -20px;
}
.who_left {
	width: 45%;
	float: left;
}
.who_right {
	width: 40%;
	float: right;
}
.who_details {
	width: 100%;
}
.who_details p {
	margin-top: 20px;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #494949;
	text-align: justify;
}
.owl-item {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
}

/*

.who_details p span

{

	font-weight: 700;

	color: #000;

	font-size: 14px;

	margin-right: 10px;

}

*/

/*

.who_details .who2

{

	width: 92%;

	float: right;

	font-weight: 400;

}

.who_details2 p

{

	margin-top: 35px;

}

*/



/*

.who_details ol li::before {

	content: counter(li);

	color: #000;

	font-weight: 700;

    display: inline-block;

	width: 30px;

	margin-left: -16px;

}

*/

.who_details ol li::before {
 content: counter(li);
 color: #000;
 font-weight: 700;
 margin-left: -16px;
 margin-right: 6px;
}
.who_details ol li {
	counter-increment: li;
	margin-top: 20px;
	text-align: justify;
}
.offer_search_box {
	width: 23%;
	float: left;
	margin-right: 1.7%;
	background: #fff;
	border: #cecece solid 1px;
	/*margin-top: 30px;*/
}
/*.offer_search_box:nth-child(6n)

{

	margin-right: 0;

}*/





.offer_search_box .deals_box_details h2 {
	background: url(../images/price_tag.png) no-repeat;
	background-size: 100% 100%;
	width: 80%;
}
.offer_search_box .deals_box_details {
	padding: 1px 10px 20px 10px;
}
.results {
	padding: 0 0 50px 0;
}
.results h2 {
	width: 40%;
	background-size: 100% 100%;
}
.result_box {
	width: 100%;
	padding: 20px 30px;
	box-sizing: border-box;
	border: #d2d2d2 solid 1px;
	background: #fff;
	margin-top: -1px;
	margin-left: 1px;
}
.result_sm_fld {
	width: 22%;
	float: left;
	text-align: center;
	font-size: 24px;
	color: #d3d3d3;
	margin-right: 40px;
}
.result_sm_fld h3, .result_sm_fld_hf h3 {
	font-weight: 500;
	font-size: 14px;
	margin-bottom: 8px;
	text-align: left;
	color: #000;
}
.result_box input, select {
	width: 100%;
	border: #d3d3d3 solid 1px;
	padding: 10px 10px;
	box-sizing: border-box;
	color: #7c7c7c;
}
.result_sm_fld_half {
	width: 45%;
	float: left;
}
.result_sm_fld span {
/*	text-align: center;*/

}
 .result_sm_fld_half:nth-child(even) {
 float: right;
}
.result_sm_fld_hf {
	width: 14%;
	float: left;
	margin-right: 35px;
}
.result_sm_fld_hf2 {
	margin-right: 0;
}
.result_sm_fld_hf2 button {
	width: 100%;
	color: #fff;
	font-size: 14px;
	background: #1e9fbc;
	padding: 11px 0;
	margin-top: 41px;
 	transition-duration: .3s;
	border: #1e9fbc solid 1px;
	font-weight: 500;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}
.result_sm_fld_hf2 button:hover {
	background: none;
	/*	background: #17839b;*/

	cursor: pointer;
	border: #1e9fbc solid 1px;
	color: #1e9fbc;
 transition-duration: .3s;
}
.contact_left {
	width: 40%;
}
.input_main {
	width: 100%;
	margin-top: 15px;
}
.input_main input {
	width: 100%;
	padding: 10px 10px;
	box-sizing: border-box;
	border: #d0d0d0 solid 1px;
	font-size: 14px;
	color: #7c7c7c;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
 transition-duration: .4s;
}
.input_main input:focus {
	box-shadow:  0px 0px 18px 0px rgba(0, 0, 0, 0.2);
 transition-duration: .4s;
}
.input_main textarea {
	width: 100%;
	padding: 10px 10px;
	box-sizing: border-box;
	border: #d0d0d0 solid 1px;
	font-size: 14px;
	color: #7c7c7c;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
 transition-duration: .4s;
}
.input_main textarea:focus {
	box-shadow:  0px 0px 18px 0px rgba(0, 0, 0, 0.2);
 transition-duration: .4s;
}
.input_main button {
	width: 100%;
	background: #1e9fbc;
	padding: 10px 0;
	font-size: 14px;
	font-weight: 700;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	color: #fff;
 transition-duration: .3s;
 border: #1e9fbc solid 1px;
}
.input_main button:hover {
	background: none;
	/*	background: #17839b;*/

	cursor: pointer;
	
	color: #1e9fbc;
 transition-duration: .3s;
}
.input_main p {
	border: #000 solid 1px;
	margin: 0;
	padding: 5px 0;
	text-align: center;
	color: #000;
	font-weight: 700;
	background: #fff;
}
.input_quater {
	width: 70%;
	float: left;
}
.input_halfer {
	width: 28%;
	float:right;
}
.customer_details {
	background: #fff;
	padding: 20px 140px 40px 10px;
	box-sizing: border-box;
}
.customer_details .row {
	width: 100%;
	margin: 20px 5px;
}
.customer_details .row .img_sm {
	display: inline-block;
	width: 8%;
}
.customer_details .row .img_sm img {
	width: 100%;
}
.customer_details .row h3 {
	font-size: 14px;
	color: #000000;
	font-weight: 500;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	display: inline-block;
	margin-left: 20px
}
.customer_details .row h3 span {
	display: block;
	color: #494949;
	font-weight: 400;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
}
.opennav {
	z-index: 99999999;
	width: 100%;
	background: #fff;
}
.signup {
	width: 68%;
	margin: 0 auto;
}
.sign_heading {
	background: #1e9fbc;
	padding: 15px 0 15px 40px;
	box-sizing: border-box;
}
.sign_heading h2 {
	font-size: 20px;
	color: #fff;
	font-weight: 500;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}
.sign_details {
	background: #fff;
	padding: 15px 40px 40px 40px;
	box-sizing: border-box;
	border: #d4d4d4 solid 1px;
}
.sign_inner_head {
	width: 100%;
	margin-bottom: 20px;
}
.sign_inner_head_2 {
	margin-top: 45px;
}
.sign_inner_head h2 {
	color: #144d88;
	font-size: 20px;
	font-weight: 500;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
}
.input_main2 {
	width: 90%;
	margin: 0 auto;
	margin-top: 15px;
}
.field_left {
	width: 24%;
	float: left;
}
.field_right {
	width: 70%;
	float: right;
}
.input_main2 input, .input_main2 select {
	background: #e8e8e8;
}
.field_left label, .field_right label {
	font-size: 14px;
	font-weight: 400;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
}
/*.field_left label span {
	color: #ff0000;
	position: relative;
	top: 10px;
	font-size: 29px;
}*/
.field_left label span {
    color: #ff0000;
    position: relative;
    top: 0px;
    font-size: 17px;
    line-height: 35px;
}
.field_right select {
	-moz-appearance: none;
}
label.error {
	color: #ff0000;
}
input.error, select.error {
	border: #ff0000 solid 1px;
}
hr {
	border-bottom: #d4d4d4 solid 1px;
	padding-top: 25px;
}
.field_right input[type="checkbox"] {
	width: 7%;
}
.field_right input[type="checkbox"]:focus {
	box-shadow: none;
}
.field_right button {
	background: #35bfae;
	border: #35bfae solid 1px;
	font-size: 18px;
	font-weight: 500;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}
.field_right button:hover {
	color: #35bfae;
	border: #35bfae solid 1px;
}
.pro_detalis_main {
	padding: 55px 0 70px 0;
}
.pro_detalis_main h2 {
	text-transform: capitalize;
}
.pro_sold_result {
	margin-bottom: 30px;
}
.more_itm {
	width: 45% !important;
}
.pro_top_main {
	width: 100%;
	margin-bottom: 30px;
}
.pro_top_left {
	width: 70%;
	float: left;
}
.pro_top_right {
	width: 28%;
	float: right;
	border: #d0d0d0 solid 1px;
}
.pro_top_box {
	width: 100%;
	margin-top: 0;
}
.pro_top_box_img {
	width: 43%;
	float: left;
	background-position-x: 4%;
	padding: 70px 20px 60px 20px;
}
.pro_top_box_img img {
	width: 100%;
}
.pro_top_box_det {
	width: 55%;
	float: right;
	background: #fff;
	padding: 23px !important;
	box-sizing: border-box;
}
 .pro_det_box:nth-child(6n) {
 margin-right: 1.8%;
}
.pro_det_box {
	margin-top: 10px;
}
.total {
	margin-top: 30px;
	color: #000 !important;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}
.pro_top_box_det h1 {
	color: #144d88;
	font-size: 30px;
	font-weight: 600;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	border-bottom: #b2b2b2 solid 1px;
	padding-bottom: 10px;
}
.pro_feature {
	margin-top: 20px;
}
.pro_feature ul {
	list-style: none;
}
.pro_feature ul li {
	font-size: 14px;
	color: #5f5f5f;
	font-weight: 400;
	line-height: 20px;
}
.pro_feature ul li span {
	color: #1e9fbc;
	font-size: 10px;
	margin-right: 10px;
}
.pro_feature h3 {
	font-size: 14px;
	color: #000000;
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 15px;
	font-family: 'Roboto', sans-serif;
}
.pro_top_box_det h2 {
	width: 30% !important;
}
.pro_top_head {
	padding: 15px 30px;
	box-sizing: border-box;
}
.pro_top_head h3 {
	font-size: 14px;
	color: #000;
	font-weight: 500;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
}
.pro_top_head h2 {
	font-size: 18px;
	color: #144d88;
	font-weight: 500;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	background: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
.pro_top_head h4 {
	font-size: 14px;
	color: #575757;
	font-weight: 500;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
}
.pro_top_head_btm {
	background: #fff;
	padding: 15px 30px;
	box-sizing: border-box;
	border-top: #d0d0d0 solid 1px;
}
.pro_top_head_btm h2 {
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	font-weight: 500;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	background: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
.pro_top_head_btm h2 span {
	font-size: 18px;
	line-height: 22px;
	font-weight: 600;
	color: #c21818;
	display: block;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
}
.head_btm_heading {
	margin-bottom: 10px;
}
.head_btm_form h2 {
	margin-bottom: 4px;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	font-weight: 500;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}
.head_btm_form .input_main {
	margin-top: 15px;
}
.head_btm_form button {
	background: #35bfae;
	border: #35bfae solid 1px;
	border-radius: 5px;
}
.head_btm_form button:hover {
	color: #35bfae;
	border: #35bfae solid 1px;
}
.sellers_table {
	margin-bottom: 30px;
}
.sellers_table table {
	border:#d0d0d0 solid 1px;
}
.table_btn {
	padding: 8px 0;
	background: #35bfae;
	border-radius: 5px;
	width: 80%;
	color: #fff;
	border: #35bfae solid 1px;
 transition-duration: .3s;
	font-size: 14px;
}
.table_btn:hover {
	background: #fff;
	color: #35bfae;
	border: #35bfae solid 1px;
 	transition-duration: .3s;
	cursor: pointer;
}
.table_btn:hover a{
	color: #000 !important;
 	transition-duration: .3s;
}
.table_head {
	background: #f5f5f5 !important;
}
.sellers_table tbody {
	background: #fff;
}
.sellers_table th, .sellers_table td {
	padding: 15px 0;
}
 @-moz-document url-prefix() {
 .pro_main {
 margin-top: -2px;
}
 .in_left input {
 padding: 9px 200px 10px 20px;
}
 .w3-button:nth-child(1)::before {
 height: 59px;
}
 .w3-button {
 padding: 13.9px 50px;
}
}
/*

 *  Usage:

 *

      <div class="sk-folding-cube">

        <div class="sk-cube1 sk-cube"></div>

        <div class="sk-cube2 sk-cube"></div>

        <div class="sk-cube4 sk-cube"></div>

        <div class="sk-cube3 sk-cube"></div>

      </div>

 *

 */

#loader {
	position: fixed;
	left: 45%;
	top: 40%;
	z-index: 9999;
}
.cover-body {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1045;
	overflow: hidden;
	position: fixed;
	background: #0b0b0b;
	opacity: 0.8;
}
.bring-up {
	z-index: 10000;
}
.sk-folding-cube {
	-webkit-backface-visibility: hidden;
	margin: 40px auto;
	width: 40px;
	height: 40px;
	position: relative;
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}
.sk-folding-cube .sk-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #1e9fbc;
	-webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
	animation: sk-foldCubeAngle 2.4s infinite linear both;
	-webkit-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
	-webkit-transform: scale(1.1) rotateZ(90deg);
	transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
	-webkit-transform: scale(1.1) rotateZ(180deg);
	transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
	-webkit-transform: scale(1.1) rotateZ(270deg);
	transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
}
 @-webkit-keyframes sk-foldCubeAngle {
 0%, 10% {
 -webkit-transform: perspective(140px) rotateX(-180deg);
 transform: perspective(140px) rotateX(-180deg);
 opacity: 0;
}
 25%, 75% {
 -webkit-transform: perspective(140px) rotateX(0deg);
 transform: perspective(140px) rotateX(0deg);
 opacity: 1;
}
 90%, 100% {
 -webkit-transform: perspective(140px) rotateY(180deg);
 transform: perspective(140px) rotateY(180deg);
 opacity: 0;
}
}
 @keyframes sk-foldCubeAngle {
 0%, 10% {
 -webkit-transform: perspective(140px) rotateX(-180deg);
 transform: perspective(140px) rotateX(-180deg);
 opacity: 0;
}
 25%, 75% {
 -webkit-transform: perspective(140px) rotateX(0deg);
 transform: perspective(140px) rotateX(0deg);
 opacity: 1;
}
 90%, 100% {
 -webkit-transform: perspective(140px) rotateY(180deg);
 transform: perspective(140px) rotateY(180deg);
 opacity: 0;
}
}
.pac-container {
	z-index: 9999;
}
 .pac-logo::after {
 content: unset !important;
}
.floating {
	float: left;
}
.check_div ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.check_div ul li {
	display: inline-block;
}
.check_div ul li:first-child {
	margin-left: 0;
}
.check_div ul li {
	margin-left: 10px;
}
.check_div {
	padding: 0;
}
.check_div label {
	font-weight: 400 !important;
}
.red_clr {
	color: #ff0000;
}
.custom_frm {
	width: 100%;
}
#select_style_ul {
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.add_remove {
	margin-top: 33px !important;
}
.add_remove button {
	font-size: 20px;
	padding: 2px 10px;
}
.no_padding {
	padding: 0;
}
.deals_box a {
	text-decoration: none;
}
.login-box {
	width: 68%;
	margin: 0 auto;
	background: #fff;
	padding: 15px 40px 40px 40px;
	box-sizing: border-box;
	border: #d4d4d4 solid 1px;
}
.ven_for {
	margin-top: 15px;
	text-align: center;
}
.ven_for a {
	text-decoration: none;
	font-size: 14px;
	font-weight: 400;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	color: #000;
 transition-duration: .3s;
}
.ven_for a:hover {
	color: #35bfae;
 transition-duration: .3s;
}
.panel {
	border: 1px solid #1e9fbc;
	border-radius:0 !important;
	transition: box-shadow 0.5s;
}
.panel:hover {
	box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
	cursor: pointer;
}
.panel:hover .btn {
	background: none;
	color: #35bfae;
 transition-duration: .3s;
	cursor: pointer;
	border: #35bfae solid 1px;
}
.panel-footer .btn:hover {
	border: 1px solid #144d88;
	background-color: #fff !important;
	color: #f4511e;
}
.panel-heading {
	color: #fff !important;
	background-color: #1e9fbc !important;
	padding: 25px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.panel-body {
	padding: 20px 0;
}
.panel-footer {
	background-color: white !important;
	text-align: center;
}
.panel-footer h3 {
	font-size: 32px;
}
.panel-footer h4 {
	color: #aaa;
	font-size: 14px;
}
/*.panel-footer .btn {
	margin: 30px 0;
	background: #35bfae;
	border: #35bfae solid 1px;
	color: #fff;
	padding: 10px 40px;
	box-sizing: border-box;
 transition-duration: .3s;
}*/
.panel-footer .btn {
	margin: 30px 0;
	background: #7bd1e4;
	border: #7bd1e4 solid 1px;
	color: #fff;
	padding: 10px 40px;
	box-sizing: border-box;
 transition-duration: .3s;
 width: 50%;
}
.panel-footer .btn:hover {
	background: none;
	color: #35bfae;
 transition-duration: .3s;
	cursor: pointer;
	border: #35bfae solid 1px;
}
.custom_packages {
	width: 32.6%;
	float: left;
	margin-right: 1%;
	text-align: center;
}
.custom_packages:last-child {
	margin-right: 0;
}
.pkgs_det {
	padding: 40px 40px;
	box-sizing: border-box;
}
.RedClass {
	color: red !important;
}
.MyAccount-navigation
{
    width:  13%;
    float: left;
}
.woocommerce-MyAccount-content{
    width: 86%;
    float: right;
}

.MyAccountNavigation {
    list-style: none;
    width: 100%;
    margin-top: 60px;
}
.MyAccountNavigation li a
{
	text-decoration: none;
	padding: 10px 12px;
	box-sizing: border-box;
	display: block;
	width: 100%;
	border: #ccc solid 1px;
	transition-duration: .3s;
	font-size: 13px;
	background: #fff;
	color: #144d88;
	text-transform: uppercase;
}
.MyAccountNavigation li a:hover
{
	background: #1e9fbc;
	color: #fff;
}
.MyAccountNavigation .is-active
{
	background: #1e9fbc;
}
.MyAccountNavigation .is-active a
{
	color: #144d88;
	font-weight: 700;
}
.acc_details .head_bg {
    width: 23% !important;
    font-size: 26px;
}
.woocommerce-MyAccount-content table {
    font-size: 11px;
    margin-top: 10px;
}
.woocommerce-MyAccount-content table tr th {
    border: #ccc solid 1px;
    padding: 10px 5px;
    background: #1e9fbc;
    color: #fff;
}
.woocommerce-MyAccount-content table tr td
{
	border: #ccc solid 1px;
	padding: 10px 5px;

}
.woocommerce-MyAccount-content table tr
{
		background: #fff;
}
.woocommerce-MyAccount-content table tr:nth-child(even) 
{
	background: #f2f2f2;
}
.myAccountPageTitle
{
/*	font-size: 26px;*/
    color: #144d88;
    font-size: 30px;
    font-weight: 600;
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'Roboto', sans-serif;
	margin-top: 15px;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.myAccountPageTitle 
{
	font-weight: 400;
}
#OfferCommentBox 
{
	margin-top: 15px;
}
.commentWalaDaba
{
	width: 100%;
    border: #d3d3d3 solid 1px;
    padding: 10px 10px;
    box-sizing: border-box;
    color: #7c7c7c;
	    /*font-family: 'Raleway', sans-serif;*/
	    font-family: 'Roboto', sans-serif;
	margin-bottom: 10px;

}
.leftWalaButton
{
	width: 45%;
    background: #1e9fbc;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 700;
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    color: #fff;
    transition-duration: .3s;
	margin-right: 10%;
	border: #1e9fbc solid 1px;
	text-transform: uppercase;
}
.rightWalaButton
{
	width: 45%;
    background: #1e9fbc;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 700;
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    color: #fff;
    transition-duration: .3s;
	border: #1e9fbc solid 1px;
	text-transform: uppercase;
}
.rightWalaButton:hover,.leftWalaButton:hover
{
	background: none;
	color: #1e9fbc;
	cursor: pointer;
}
.links1 ul li a span
{
	font-size: 18px;
}
.woocommerce-MyAccount-content table tr td a
{
	text-decoration: none;
	color: #144d88;
}
.woocommerce-MyAccount-content p a
{
	text-decoration: none;
	color: #144d88;
	font-weight: 700;
}
.lat_left
{
	width: 14%;
	float: left;
	margin-top: 5px;
}
.lat_hold
{
	width: 85%;
	float: right;
	margin-top: 5px;
}
.lat_left h3
{
	margin-top: 20px;
}
.lat_left h4
{
	font-size: 24px;
	margin-top: 10px;
	color:#c21818;
}
.lat_left p
{
	font-size: 15px;
	line-height: 18px;
}
.lat_left a
{
	text-decoration: none;
	color:#144d88;
	margin-top: 10px;
	display: block;
	font-size: 16px; 
}
.small_images
{
	margin-top: 20px;
}
.small_images ul
{
	list-style: none;
}
.small_images li
{
	/*display: inline-block;*/
	width: 24%;
	float: left;
	margin-right: 1%;
}
.small_images img
{
	width: 100%;
}
.deals_box_img2
{
	background: none;
}
.wishlist_img {
    margin-top: -40px;
    text-align: left;
    margin-bottom: 10px;
}
.wishlist_img img
{
	width: 10% !important;
}
.ui-slider-horizontal .ui-slider-range
{
	background: #1e9fbc;
}
.ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
    margin-top: 15px;
}
.scrollToDiv a
{
	text-decoration: none;
	margin-top: 10px;
	display: block;
	text-align: center;
	text-transform: uppercase;
	color:#1e9fbc;
	font-weight: 700;
}
.top-items button p
{
	margin: 0px;
}
#slider2 .offers_box a
{
	text-decoration: none;
	color: white;
}
.sub_menu_list {
    display: none;
    position: absolute;
    top: -4px;
    right: -772px;
    /*padding: 0 0 15px 0;*/
    padding: 4px 0;
    box-sizing: border-box;
    background: #fff;
    border: #1e9fbc solid 3px;
    z-index: 99999999999999;
    width: 300%;
    /* height: 100vh; */
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    /* max-width: 380%; */
}
.dropdown-menu li
{
	position: relative;
}
.dropdown-menu li:hover .sub_menu_list
{
	display: block;
}
.sub_menu_list h4
{
	background: #1e9fbc;
	color: #fff;
	padding: 14px 20px 14px 10px;
	box-sizing: border-box;
	font-size: 14px;
	font-weight: 400;
	    font-family: 'Roboto', sans-serif;

}
.sub_menu_list li a
{
	font-size: 13px;
	    font-family: 'Roboto', sans-serif;

}
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .3s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.col4 {
    width: 33.3%;
    float: left;
    margin-right: 0%;
}
.col2
{
	width: 50%;
	float: left;
}
.col3
{
	width: 25%;
	float: left;
}
.col2:last-child
{
	margin-right: 0;
}
.col4:last-child
{
	margin-right: 0;
}
.sub_menu_list ul
{
	list-style: square;
	padding-left: 25px;
	color: #1e9fbc;
}
.sub_menu_list ul li
{
	padding: 0;
}
.sub_menu_list ul li a
{
	padding-left: 0;
	padding: 5px 16px;
	box-sizing: border-box;
}
.arrow
{
	transition-duration: .3s;
}
.dropdown-menu li:hover .arrow {
    padding: 9px 17px;
    box-sizing: border-box;
    background: #1e9fbc;
    position: absolute;
    top: -4px;
    transition-duration: .3s;
    right: 0;
    color: #fff;
}
.facebookBtn
{
  border: #29487d solid 1px !important;
  background: #29487d !important;
}
.facebookBtn:hover
{
  background: none !important;
  border: #29487d solid 1px !important;
  color:#29487d !important;
}
.facebookLLabel label
{
		margin-top: 15px;
		display: block;
}
.about_main h2
{
	margin-bottom: 20px;
}
.about_main p
{
	margin: 10px 0;
	line-height: 26px;
}
.termsConditions p
{
	margin: 5px 0;
}
.termsConditions h2
{
	margin: 0;
}
.mrgin
{
	margin: 10px 0;
}
.head_bg{
	font-size: 18px;
}
.panel-title a
{
	text-decoration: none;
}
.panel-title a:hover,.panel-title a:focus
{
	text-decoration: none;
}
.panel-body ul
{
    width: 97%;
    margin: 0 auto;
}


/*NEW CSS*/
.offers_box:hover
{
	box-shadow: 1px 1px 20px #9e9c9c;
	transition-duration: .3s;
}
.pro_box:hover{
	box-shadow: none !important;
	
}
.sticky
{	
	position: fixed;
  	top: 0;
  	width: 100%;
	z-index: 999;
	 box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
	 /* -webkit-animation: fadein 2s; 
       -moz-animation: fadein 2s; 
        -ms-animation: fadein 2s; 
         -o-animation: fadein 2s; 
            animation: fadein 2s;*/
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.boxCustomDetail {
    height: 150px;
}
.box_img
{
	overflow: hidden; 
	
}
.zoomImageHover
{
	transition-duration: .3s;
}
.box_img:hover .zoomImageHover
{
	transform: scale(1.1);
  	transform-origin: 50% 50%;
  	transition-duration: .3s;
}
.rupeesText
{
	font-size: 15px !important;
	text-transform: capitalize !important;
}
.box_details h2::before {
    height: 42px;
}
.box_details h2
{
	font-size: 22px;
	line-height: 31px;
}
.pro_feature ul li
{
	position: relative;
	padding-left: 5px;
}
.pro_feature ul li::before {
    content: '';
    width: 6px;
    height: 8px;
    background: url(../images/arrowLeft.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: -10px;
    top: 5px;
}
.image-container {
  position: relative;
  overflow: hidden;
}

.placeholder {
  position: relative;
  width: 100%;
  height: 170px;
  /*filter: blur(10px);*/
  /*transform: scale(1);*/
  	transition-duration: .3s;
}


.picture {
  /*position: absolute;*/
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  /*transition: opacity 1s linear;*/
}


.picture.loaded {
  opacity: 1;
}
.pro_main .owl-carousel
{
	-webkit-animation: fadein 1s; 
       -moz-animation: fadein 1s; 
        -ms-animation: fadein 1s; 
         -o-animation: fadein 1s; 
            animation: fadein 1s;
}

#slider3 .owl-dot, #slider3 .owl-nav .owl-next {
   float: right;
    text-align: right;
    margin-top: -403px;
    margin-right: 0px;
}
#slider3 .owl-dot, #slider3 .owl-nav .owl-prev {
    float: right;
    text-align: right;
    margin-top: -403px;
    margin-right: 25px;
}
.options ul li span {
    font-size: 42px;
 }
 .woocommerce-MyAccount-content table tr th
 {
 	border: 0;
    padding: 15px 10px;
}
 .woocommerce-MyAccount-content table tr td {
    border: 0;
    padding: 15px 10px;
}
.sign_heading h2
{
	margin-bottom: 0;
}
 .boxCustomImage
{
   border: #ccc solid 1px;
   margin: 0;
}
.boxCustomImage img
{
	border: 0;
}
.packagesList
{
	width: 30%;
	float: left;
	margin-right: 3%;
	border: #ccc solid 1px;
	transition-duration: .3s;
}
.packagesList:hover
{
	box-shadow: 1px 1px 30px #ccc;
	transition-duration: .3s;
}
.pkgHead
{ 
	 padding: 13px 0 25px 0;
	  text-align: center;
	  font-family: 'Roboto', sans-serif;
	  font-weight: 700;
	  font-size: 22px;
	  color: #fff;
}
.pkgHead1
{
	  background: url(../images/free.jpg) no-repeat;
	  background-size: 100% 100%;
}
.pkgDet
{
	background: #fff;
	padding: 90px 0 30px 0;
	text-align: center;
}
.pkgDet h4
{
	font-weight: 700;
	font-size: 15px;
}
.pkgDet h2
{
	font-size: 50px;
	font-weight: 400;
	margin: 17px 0;
}
.pkgDet h3
{
	font-weight: 700;
	font-size: 16px;
}
.packagesList1
{
	color: #7bd1e4;
}
.packagesList2
{
	color: #0092af;
}
.packagesList3
{
	color: #00bfad;
}
.pkgBtn
{
	width: 70%;
	margin: 0 auto;
	padding: 10px 0;
	font-size: 17px;
	font-weight:700;
	color: #fff;
	margin-top: 90px;
}
.packagesList1 .pkgBtn
{
	background: #7bd1e4;
	border: #7bd1e4 solid 1px;
	transition-duration: .3s;
}
.packagesList1 .pkgBtn:hover
{
	background: none;
	color: #7bd1e4;
	transition-duration: .3s;
}
.packagesList2 .pkgBtn
{
	background: #0092af;
	border: #0092af solid 1px;
	transition-duration: .3s;
}
.packagesList2 .pkgBtn:hover
{
	/*background: none;*/
	color: #0092a/*f*/;
	transition-duration: .3s;
}
.packagesList3 .pkgBtn
{
	background: #00bfad;
	border: #00bfad solid 1px;
	transition-duration: .3s;
}
.packagesList3 .pkgBtn:hover
{
	background: none;
	color: #00bfad;
	transition-duration: .3s;
}
.pkgHead2
{
	  background: url(../images/standard.jpg) no-repeat;
	  background-size: 100% 100%;
}
.pkgHead3
{
	  background: url(../images/premium.jpg) no-repeat;
	  background-size: 100% 100%;
}
.faqHeader
{
	font-size: 20px;
	font-weight: 700;
	margin:10px 0;
}
.dealsBrandPage
{
	width: 100%;
	margin-top: 20px;
}
.lat_left,.lat_hold
{
	margin-top: 20px;
}
.lat_hold p
{
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #565656;
}
.heightPara
{
	height: 50px;
   width: 100%;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
   transition-duration: .2s;
}
.mrgn
{
	margin-top: 20px;
}
.lat_hold h3
{
	margin-bottom: 10px;
}
.lat_hold p
{
	text-align: justify;
}
.toolTipHold
{
	position: relative;
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
.toolTip
{
	display: none;
	position: absolute;
	background:#fff;
  	box-shadow: 1px 1px 5px #ccc;
  	z-index: 99999;
  	padding: 15px 15px;
  	box-sizing: border-box;
  	border-radius: 10px;
   -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
            top: 50px;
            font-size: 12px;
            line-height: 16px;
            color: #828282;
            font-weight: 400;
}
.toolTipHold:hover .toolTip
{
	display: block;
	 -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
.toolTip:before {
    content: "";
    position: absolute;
    top: -22px;
    right: 13px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 14px solid #fff;
}
.popupSubmitBtn
{
	margin-top: 20px;
}
.box_details h4
{
	font-size: 12px;
}
.showMore
{
	cursor: pointer;
	font-size: 14px;
	color: #1a4e83 !important;
	float: right;
}
.ven_for
{
	text-align: left;
}
.boxDetails h3 {
    min-height: 45px;
    }
    .details_right {
    padding: 66px 0 0 0;
    box-sizing: border-box;
}
.input_halfer p
{
	margin:0;
}
.input_halfer #captchaVal
{
	border: #000 solid 1px;
	margin: 0;
	padding: 10px 0;
	text-align: center;
	color: #000;
	font-weight: 700;
	background: #fff;
}
.validateField
{
	border: red solid 2px !important;
}
.woocommerce-MyAccount-content table tr th {
    font-weight: 400;
}
.islamicLogo
 {
    display: block;
    /*width: 30%;*/
    width: 42px;
    margin: 0 auto;
    /*text-align: center;*/
    /*float: right;*/
}
.options {
    width: 51%;
    float: right;
}
.boxCustomImage {
    border: 0;
   }
.boxCustomImage img
{
	margin: 0 auto;
}
.dropdown-content li:last-child a
{
	border: 0 !important;
}
/*.mfp-wrap
{
	z-index: 99999 !important;
}*/
.sticky .logo img {
    width: 70%;
    transition-duration: .3s;
}
.sticky .islamicLogo {
    width: 30%;
    transition-duration: .3s;
}
.sticky .options ul li span {
    font-size: 30px;
    transition-duration: .3s;
}
.sticky .options ul li .wish {
    width: 28px;
    transition-duration: .3s;
}
.sticky .options ul li .cart
{
	font-size: 20px !important;
}
.sticky .navigation {
    padding-top: 5px;
}
.sticky .dropbtn {
    padding: 10px 16px;
  }
.sticky .in_left input {
    padding: 8px 200px 6px 20px;
}
.sticky .in_left button {
    padding: 6px 40px;
}
.sticky .in_right button {
    padding: 7px 0;
}
.sticky .dropbtn {
    font-size: 14px;
}
.wishlist_img img
{
	cursor: pointer;
}
.options ul li .cart {
    font-size: 16px;
    padding: 0px 5px;
    line-height: 19px;
 }
 .areaTextHeight h4
 {
 	height: 30px;
 	/*overflow: auto;*/
 }
.dropdown-content a {
    padding: 6px 16px;
}
 .sticky .dropdown-content a {
    padding: 5px 16px;
}
.sticky .dropdown-menu {
    padding-top: 0;
}
.fixedHeader
{
	position: fixed;
	top:0;
	z-index: 1024;
	left: 0;
	right: 0;
}
/*.sticky .top
{
	display: none;
}*/
.slideanim
{
    width: 70%;
    margin: 0 auto;
}
.packagesList {
    width: 46%;
}
.allContent
{
	margin-top: 200px;
}
.pro_sold_result p
{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #565656;
}
.accordion
{
	background-color: #144d88 !important;
	color: #fff !important;
}
.panel
{
    margin-bottom: 20px;
}
.panel p
{
	font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #565656;

}
.panel ul
{
	padding-left: 20px;	
}
.boxCustomDetail {
    height: 170px;
}
.options ul li {
    padding: 0 24px;
}
.results h2 span.totalPro
{
	display: block;
	font-size: 12px;
	text-transform: capitalize;
}
.brandTitle
{
	line-height: 25px !important;
	font-size: 22px !important;
}
/*.mfp-wrap {
    z-index: 10430 !important;
}*/
.show-full
{
	width: 24%;
}
/*.wishlist_img:hover .active_product
{
	display: block !important;
}
.wishlist_img:hover .not_active_product
{
	display: none !important;
}*/

.deals_box_details h4
{
	height: 30px;
}
.sellerTotalOffersLink, .sellerTotalOffersLink span {
    color: #144d88;
    display: grid;
    margin-bottom: 10px;
    transition-duration: .3s;
}
.sellerTotalOffersLink:hover, .sellerTotalOffersLink span:hover
{
	color: #c21818;
	transition-duration: .3s;
}
.sellerTotalOffersHasLink
{
    padding: 30px 20px 10px 20px;
}
.sellers_table  a
{
	color: #144d88 !important;
}
#OfferCommentBox h3 {
    font-size: 20px;
    color: #c21818;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}
#OfferCommentBox h2 {
    font-size: 18px;
    color: #c21818;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    background: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
#OfferCommentBox h2 span {
    display: inline-block;
    font-size: 16px;
    color: #c21818;
}
#OfferCommentBox h4 {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    margin: 5px 0;
}
#OfferCommentBox h4 span
{
	font-weight: 700;
}
.commentWalaDaba
{
	margin-top: 10px;
}
.scrollToDiv
{
	margin-top: 10px;
}
.pro_top_head a
{	
	text-decoration: none !important;
}
.pro_top_head a h4:hover
{
	color: #c21818 !important;
}
.brandTitle {
    width: 50% !important; 
}
.box_details h2::before {
    height: 41px !important;
}
.box_details h2 {
    font-size: 22px;
    line-height: 30px;
}

@-moz-document url-prefix() {
.options {
    width: 50%;
    float: right;
}
 .islamicLogo {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: right;
    /*float: right;*/
    height: 42px;
}
.w3-button:nth-child(1)::before {
    height: 55px;
}
.sticky .islamicLogo {
    width: 30px;
     height: 30px;
}
}
.tab {
    overflow: hidden;
    border: 1px solid #144d88;
    background-color: #144d88;
    text-align: center;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: #144d88;
  float: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: #fff;
  cursor: pointer;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #1e9fbc;
  cursor: pointer;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #1e9fbc;
  color: #fff;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 25px 25px;
  border: 1px solid #ccc;
  border-top: none;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #565656;

}
.tabcontent h3
{
	margin: 20px 0;
}
.tabcontent ul
{
	padding: 0 20px;
	box-sizing: border-box;
}
.tabcontent ul li
{
	margin: 10px 0;
}
.pkgDet ul
{
	padding: 0 	30px;
	box-sizing: border-box;
	text-align: left;
	margin: 20px 0;
} 
.pkgDet ul li
{
	font-size: 14px;
	margin: 10px 0;
}
#pricing h3
{
	text-align: center;
}
.pkgNewBtn
{
	margin-top: 191px;
}
.finPageLogo
{
	text-align: center;
}
.financingPageLogo
{
	width: 10%;
	margin: 0 auto;
	margin-bottom: 10px;
	text-align: center;
}
.finPageLogo p
{
	text-align: left;
	 font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #565656;
    margin-bottom: 20px;
}
.sticky .options ul li
{
	text-align: center;
}
.sticky .islamicLogo {
    width: 20%;
}
.options {
    /*width: 43%;*/
    text-align: right;
}
/*.sticky .options {
    width: 51%;
}*/
.sellers_table
{
	text-align: left;

}
.sellers_table th
{
	text-align: left !important;
	padding: 15px 20px;
	box-sizing: border-box;
}
.sellers_table td
{
	padding: 15px 20px;
	box-sizing: border-box;
}
.sticky .islamicLogo {
    width: 30px;
}
.w3-button:nth-child(1)::before {
    height: 100%;
}
.box_details h2::before {
    height: 100% !important;
}
.sticky .in_left button {
    padding: 0 40px;
    height: 100%;
}
.in_left button {
    padding: 0 40px;
    height: 100%;
}
#slider5 .owl-prev, #slider5 .owl-next {
    margin-top: -75px !important;
}
.perMonth
{
	background: none;
	padding: 0 !important;
}
.perMonth h2
{
	margin: 0 auto !important;
}
.pro_feature
{
	 padding-left: 10px;
}
.proFeatureHeight
{
	/*height: 200px;*/
	overflow: hidden;
	/*overflow-y: scroll;*/
	
}
.pro_feature p
{
	font-size: 14px;
    color: #5f5f5f;
    font-weight: 400;
    line-height: 20px;
 	/*height: auto !important;*/
}
.proFeaturePara
{
	width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    transition-duration: .2s;
}
}
.proFeatureScroll
{
    overflow-y: scroll !important;
    height: 20px !important;
    background: red !important;
}
.showMoreLink
{
	border: none !important;
	background: transparent !important;
	padding:0 !important; 
	text-align: right !important;
}
.fullPara
{
	height: 200px !important;
	overflow-y: scroll !important;
}
.proFeatureList
{
	height: 160px;
	overflow: hidden;
	padding-left: 20px !important;
	/*background: red;*/
}
 .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}



.panel {
  padding: 0 0;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.panel:hover {
    box-shadow: none !important;
    cursor: pointer;
}
.accordion .arrowDown
{
	text-align: right;
	float: right;
}
.accordion span
{
	margin-left: 24.5%;
}
.deals_box h3 a{
    color: #144d88;
}
.categoryName
{
	font-size: 16px !important;
	text-transform: capitalize !important;
}
.sideBar
{
	width: 100%;
	/*box-shadow: 1px 1px 10px #ccc;*/
	background: #fff;
	padding:10px 10px;
	box-sizing: border-box;
	margin-top: 20px;
}
.sideBar ul
{
	list-style: none;
	margin:0;
	padding:0;
}
.sideBar ul li
{
	display: block;
}
.sideBar ul li a
{
	display: block;
	/*padding: 13px 0 13px 14px;*/
	/*box-sizing: border-box;*/
	/*border-bottom: #ccc solid 1px;*/
	/*color: #333333;*/
	/*cursor: pointer;*/
	/*transition-duration: .3s;*/
	/*margin: 0;*/
	font-size: 14px;
}
.sideBar ul li a.activeSideBarLink
{
	/*color: #fff;*/
	/*background: #009eb7;*/
}
.sideBar ul li a:hover
{
	/*color: #fff;*/
	/*background: #009eb7;*/
	/*transition-duration: .3s;	*/
}
.HomePage
{
	background: #fff !important;
}
.pagination
{
	text-align: right;
	margin-top: 30px;
}
.pagination .pagiArrow a
{
	color: #cdcdcd;
	text-decoration: none;
	font-size: 20px;
	margin-top: 15px;
	transition-duration: .3s;
}
.pagination .pagiArrow a:hover
{
	color: #cc0000;
	transition-duration: .3s;
}
.pagesCount
{
	border:#d0d0d0 solid 1px;
	background: #fff;
	padding:8px 14px;
	box-sizing: border-box;
	color: #7c7c7c;
	font-weight: 500;
	font-size: 14px;
}
.pagesCount span
{
	color: #000000;
}
.totalCount
{
	font-size: 14px;
	color: #383838;
	font-weight: 500;
}
.showAll a
{
	text-decoration: none;
	font-size: 14px;
	color: #cc0000;
	font-weight: 500;
	margin-left: 20px;
	margin-right: 20px;
}
.results h2 {
    width: 45%;
   }
   #redirection
   {
   	margin-top: 40px;
   }
   .table_head th {
    text-align: center !important;
}
.searchFilter button
{
	margin-top: 24px;
}
.sideBar h3
{
	color: #144d88;
    font-size: 18px;
    border-bottom: 1px solid #144d88;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0px;
}
.sideBar h4
{
	font-size: 16px;
}