
@media screen and (max-width:1400px) {
.img1 {
	left: -412px;
}
.img2 {
	right: -290px;
}

}

@media screen and (max-width:1366px) {
.sub_menu_list {
	/*right: -784px;*/
	right: -771px;
}
.islamicLogo {
    width: 42px;
}
.sticky .header {
    padding: 5px 0;
}

}

@media screen and (max-width:1280px) {
.container {
	max-width: 93%;
}
.top_right {
	width: 35%;
	    text-align: right;

}
.options {
	width: 51%;
	/*width: 41%;*/
}
.details_right {
	width: 40%;
}
.box_details h3 {
	font-size: 16px;
}
.links1 ul li a {
	font-size: 12px;
}
.top_left p {
	font-size: 13px;
}
.top_left p b {
	font-size: 15px;
}
.deals_box_details a {
	width: 66%;
}
.who_left {
	width: 48%;
	float: left;
}
.who_right {
	width: 48%;
	float: right;
}
.result_sm_fld {
	margin-right: 30px;
}
.menu::after {
	width: 100%;
}
.pro_top_box_det {
	padding: 14px !important;
}
.allContent {
    margin-top: 185px;
}
}

@media screen and (max-width:1279px) {
.sub_menu_list {
	right: -707px;
}
.options {
	width: 57%;
	/*width: 41%;*/
}
}

@media screen and (max-width:1150px) {
.top_right {
	width: 39%;
}
.options {
	width: 45%;
}
#slider img {
	width: 80% !important;
	margin: 0 auto;
}
.box_details h3 {
	font-size: 14px;
}
.box_details h2 {
	font-size: 18px;
}
.box_details h2::before {
	background-size: 100% 100%;
	width: 161px;
}
.details_right {
	width: 47%;
}
.deals_box_details h2::before {
	background-size: 100% 100%;
	width: 161px;
	height: 37px;/*	height: 38px;*/

}
.deals_box_details a {
	width: 75%;
}
.links1 {
	width: 32%;
	float: left;
	margin-right: 1%;
	margin-top: 10px;
}
.links1:nth-child(3n+1) {
	clear: both;
}
.results h2 {
	width: 45%;
}
.result_box {
	width: 100%;
	padding: 20px 20px;
}
.offer_search_box:nth-child(8n+2) {
	margin-right: 0;
}
.field_left {
	width: 30%;
}
.pro_top_head h2 {
	width: 100%;
}
.pro_top_box_det {
	padding: 20px !important;
}
.pro_det_box {
	margin-right: 1%;
}
.pro_det_box:nth-child(4n) {
	margin-right: 1%;
}
.pro_det_box:nth-child(6n) {
	margin-right: 1%;
}
.head_btm_heading h2 {
	width: 100%;
}
.pro_top_box_det {
	padding: 16px !important;
}
.sub_menu_list {
	right: -668px;
	width: 260%;
}
}

@media screen and (max-width:1050px) {
.top_right {
	width: 41%;
}
.options {
	width: 49%;
}
.menu {
	width: 27%;
	float: left;
	position: relative;
}
.nav_right {
	width: 71%;
}
.deals_box_details h2::before {
	/*    height: 40px;*/

	height: 39px;
}
.result_sm_fld_half {
	width: 46%;
}
.result_sm_fld_hf {
	margin-right: 20px;
}
.result_sm_fld {
	margin-right: 25px;
}
.customer_details {
	padding: 20px 100px 40px 10px;
}
.pro_top_box_det h1 {
	font-size: 23px;
}
.head_btm_form h2 {
	width: 100%;
}
.options {
	width: 63%;
}
.boxDetails h3 {
    min-height: 35px;
}
.details_right {
    padding: 56px 0 0 0;
}
.options ul li a {
    font-size: 14px;
}
.options ul li {
    padding: 0 28px;
}
.sticky .logo img {
    transition-duration: .3s;
}
.sticky .options ul li .cart {
    font-size: 15px !important;
    right: 32px;
}
.deals_box h3 {
    font-size: 13px;
    }
    .boxCustomImage img
    {
    	width: 100% !important;
    }
}

@media screen and (max-width:1023px) {
.box_details h3 {
	font-size: 18px;
}
.box_details h2 {
	font-size: 24px;
}
.box_details h2::before {
	width: 210px;
}
.sub_menu_list {
	right: -662px;
	width: 274%;
}
.options {
    width: 53%;
}
.options ul li {
    padding: 0 12px;
 }
 .sticky .logo img {
    width: 80%;
}
.sticky .options ul li .cart {
    right: 16px;
}
}

@media screen and (max-width:960px) {
.top_left {
	width: 30%;
}
.top_right {
	width: 47%;
}
/*.options {
	width: 56%;
}*/
.img2 {
	right: -280px;
}
.menu {
	width: 31%;
	float: left;
	position: relative;
}
.deals_box_details h2::before {
	background-size: 100% 100%;
	width: 161px;
	/*height: 39px;*/
	/*	height: 40px;*/
	    height: 41px;


}
.nav_right {
	width: 68%;
}
.results h2 {
	width: 55%;
}
.result_sm_fld {
	width: 100%;
	float: left;
	margin-right: 0;
	margin-bottom: 15px;
}
.result_sm_fld_hf {
	width: 30%;
}
.offer_search_box {
	width: 31%;
}
.offer_search_box:nth-child(4n+2) {
	margin-right: 1.8%;
}
.customer_details {
	padding: 20px 50px 40px 10px;
}
.signup {
	width: 80%;
}
.pro_top_left {
	width: 100%;
	float: none;
}
.pro_top_box {
	width: 100%;
}
.pro_top_right {
	width: 100%;
	float: right;
	margin-top: 20px;
}
.more_itm {
	width: 57% !important;
}
.w3-button {
	font-size: 18px;
}
.w3-button:nth-child(1)::before {
	height: 55px;
}
.col3 {
	width: 50%;
}
.sub_menu_list {
	right: -491px;
	width: 200%;
}
.options {
    width: 60%;
}
.box_details h2 {
    font-size: 20px;
}
}

@media screen and (max-width:850px) {
.top_left {
	width: 35%;
}
.top_right {
	width: 52%;
}
/*.options {
	width: 60%;
}*/

.img2 {
	right: -320px;
}
.dropdown-content a {
	font-size: 12px;
}
.menu::after {
	width: 228px;
}
.img1 {
	left: -360px;
}
.easy_row h4 {
	font-size: 14px;
}
.easy_section {
	padding: 30px 0;
}
.easy_section h2 {
	font-size: 30px;
}
.box_details h3 {
	font-size: 16px;
}
.box_details h2 {
	font-size: 20px;
}
.box_details h2::before {
	width: 175px;
}
.deals_box_details a {
	width: 90%;
}
.w3-button {
	padding: 11px 20px;
}
.w3-button:nth-child(1)::before {
	height: 43px;
	/*height: 48px;*/
}
.adv_box h4 span {
	font-size: 14px;
}
.adv_box span {
	font-size: 54px;
}
.easy_box span {
	font-size: 54px;
}
.in_left input {
	padding: 13px 150px 13px 20px;
}
.in_left button {
	padding: 11px 40px;
}
.who_left {
	width: 100%;
	float: none;
}
.who_right {
	width: 100%;
	float: none;
}
.who_details p {
	margin-top: 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
}
.who_details p span {
	font-size: 16px;
	margin-right: 20px;
}
.head_bg {
	width: 40%;
}
.results h2 {
	width: 60%;
}
.customer_details .row .img_sm {
	width: 5%;
}
.signup {
	width: 90%;
}
.pro_top_box {
	width: 100% !important;
}
.table_btn {
	padding: 8px 12px;
}
.pro_det_box:nth-child(4n) {
	margin-right: 1.8%;
}
.owl-carousel2 .owl-dot, .owl-carousel2 .owl-nav .owl-prev {
	margin-top: -140px;
}
.owl-carousel2 .owl-dot, .owl-carousel2 .owl-nav .owl-next {
	margin-top: -140px;
}
.panel-body {
	font-size: 14px;
}
.panel-heading {
	font-size: 14px;
	padding: 20px 0;
}
.sub_menu_list {
	right: -398px;
	width: 180%;
}

}

@media screen and (max-width:769px) {
	.deals_box h3 {
    font-size: 12px;
}
.options ul li .cart {
    right: 5px;
}
/*.options ul li {
	padding: 0 13px;
}*/
.options ul li {
    padding: 0 5px;
}
.logo {
	width: 28%;
	float: left;
}
.in_left button {
	padding: 11px 40px;/*    padding: 14px 40px;*/

}
.in_left button span {
	font-size: 15px;
}
.in_right button .fa-map-marker-alt {
	font-size: 15px;
}
.in_right button {
	padding: 12px 0;/*    padding: 14px 0;*/

}
.in_left input {
	padding: 12px 150px 10px 20px;/*    padding: 14px 150px 13px 20px;*/

}
.panel-body {
	font-size: 12px;
}
.sub_menu_list {
	right: 0;
	width: 65%;
}
.sticky .in_left input {
    padding: 7px 170px 7px 20px;
}
.sticky .in_left button {
    padding: 7px 40px;
}
.navigation {
    padding-top: 10px;
}
.allContent {
    margin-top: 175px;
}
.sub_menu_list {
    right: 0;
    width: 100%;
    top: 40px;
}
}

@media screen and (max-width:767px) {
/*.top_left {
	width: 100%;
	text-align: center;
	float: none;
}
.top_right {
	width: 100%;
	text-align: center;
	float: none;
	margin-top: 10px;
}*/
/*.logo {
	width: 35%;
	float: none;
	margin: 0 auto;
}*/
.logo {
    width: 30%;
    float: left;
    margin: 0 auto;
}
/*.options {
	width: 100%;
	text-align: center;
	margin-top: 10px;
	float: none;
}*/
.options {
    width: 70%;
    text-align: center;
    margin-top: 10px;
    float: right;
}
.sticky .logo img {
    width: 100%;
}

.header {
	padding: 20px 0;
}
.menu {
	width: 36%;
}
.menu::after {
	width: 225px;
	background-size: 100% 100%;
}
.img1 {
	left: -420px;
}
.img2 {
	right: -390px;
}
.easy_box {
	background: none;
	width: 50%;
	margin: 20px 0;
}
.details_left {
	width: 100%;
	float: none;
	text-align: left;
}
.box_details h2::before {
	width: 100%;
}
.details_right {
	width: 100%;
	float: none;
	padding: 20px 0;
}
.deals_box h3 {
	font-size: 14px;
}
.box_details h2 {
	font-size: 16px;
}
.deals_box_details h2::before {
	background-size: 100% 100%;
	width: 155px;
	height: 36px;/*	height: 38px;*/

}
.box_details h4 {
	font-size: 12px;
}
.w3-button {
	padding: 12px 20px;
	font-size: 19px;
}
.w3-button:nth-child(1)::before {
	height: 46px;
}
.menu {
	width: 100%;
	float: none;
}
.menu::after {
	display: none;
}
.nav_right {
	width: 100%;
	float: none;
	margin-top: 10px;
}
.navigation {
	padding-bottom: 15px;
}
.deals_box_details a {
	width: 100%;
}
.head_bg {
	width: 40%;
	font-size: 26px;
	line-height: 30px;
}
.result_sm_fld_hf {
	margin-right: 18px;
}
.results h2 {
	width: 70%;
}
.offer_search_box {
	width: 47%;
}
.signup {
	width: 100%;
}
.pro_top_box_img {
	width: 100%;
	float: none;
	margin: 0 auto;
	padding: 70px 20px 20px 20px;
}
.pro_top_box_img img {
	width: 70%;
}
.pro_top_box_det {
	padding: 10px 40px !important;
	float: none;
	width: 100%;
}
.owl-carousel2 .owl-dot, .owl-carousel2 .owl-nav .owl-prev {
	margin-top: -130px;
}
.owl-carousel2 .owl-dot, .owl-carousel2 .owl-nav .owl-next {
	margin-top: -130px;
}
.options ul li:first-child
{
	width: 20%;
}
.options ul li {
    padding: 0 15px;
}
.options ul li .islamicLogo {
    width: 100%;
}
.boxCustomDetail {
    height: 200px;
}
.sticky .options ul li .islamicLogo {
    width: 80%;
}
.sticky .navigation {
    padding-bottom: 10px;
    padding-top: 10px;
}
.box_details h2 {
    line-height: 26px;
}
.allContent {
    margin-top: 260px;
}
.dropbtn {
    padding: 10px 16px;
}
}

@media screen and (max-width:650px) {
.img2, .img1 {
	display: none;
}
.easy_box {
	background: none;
	width: 100%;
	margin: 20px 0;
}
.easy_row {
	margin-top: 10px;
}
.offers_box {
	width: 94%;
	float: none;
	margin-right: 0;
	margin: 0 auto;
}
.w3-button {
	padding: 14px 20px;
	font-size: 14px;
}
.w3-button:nth-child(1)::before {
	height: 45px;
}
.links1 {
	width: 100%;
	float: none;
	margin-right: 0;
	margin: 0 auto;
	margin: 15px 0;
}
.in_left {
	width: 100%;
	float: none;
}
.in_right {
	width: 100%;
	float: none;
	margin-top: 10px;
}
.offers .details_left h2 {
	font-size: 24px;
	line-height: 26px;
	background: none;
}
.deals_box_details h2::before {
	height: 36px;/*    height: 37px;*/

}
.who_details {
	width: 96%;
	margin: 0 auto;
}
.results h2 {
	width: 80%;
}
.head_bg {
	width: 50%;
}
.sign_details {
	padding: 15px 20px 40px 20px;
}
.field_left {
	width: 33%;
}
.field_right {
	width: 65%;
}
.field_right label {
	font-size: 14px;
}
.input_main2 {
	width: 100%;
}
.sellers_table th, .sellers_table td {
	padding: 15px 0;
	font-size: 12px;
}
.table_btn {
	padding: 8px 10px;
	font-size: 12px;
}
.more_itm {
	width: 90% !important;
}
.owl-carousel2 .owl-dot, .owl-carousel2 .owl-nav .owl-prev {
	margin-top: -220px;
}
.owl-carousel2 .owl-dot, .owl-carousel2 .owl-nav .owl-next {
	margin-top: -220px;
}
.custom_packages {
	width: 100%;
	float: left;
	margin-right: 0;
	text-align: center;
	margin: 10px 0;
}
.top_left {
	width: 100%;
	text-align: center;
	float: none;
}
.top_right {
	width: 100%;
	text-align: center;
	float: none;
	margin-top: 10px;
}
.logo {
	width: 35%;
	float: none;
	margin: 0 auto;
}
.options {
	width: 100%;
	text-align: center;
	margin-top: 10px;
	float: none;
}
.header {
    padding: 10px 0;
}
.options ul li .islamicLogo {
    width: 80%;
}
.allContent {
    margin-top: 376px;
}
.sticky .options
{
	display: none;
}
.owl-nav
{
	display: none;
}
.boxCustomImage img {
     width: auto !important; 
}
.lat_hold h3 {
    margin-bottom: 5px;
    font-size: 16px;
}
.lat_left {
    width: 45%;
    float: none;
  }
  .lat_hold {
    width: 100%;
    float: none;
}
.brandTitle {
    line-height: 22px !important;
    font-size: 20px !important;
}
.deals_box_details h2::before {
    height: 35px;
}
}

@media screen and (max-width:550px) {
.options ul li {
	padding: 0 10px;
}
.logo {
	width: 55%;
}
.easy_section h2 {
	font-size: 26px;
}
.easy_box span {
	font-size: 44px;
}
.offers h2 {
	font-size: 26px;
	line-height: 30px;
	background-size: 100% 100%;
}
.details_left h2 {
	background: none;
}
.deals_box_details h2::before {
	height: 42px;
}
.w3-button {
	padding: 12px 16px;
	font-size: 13px;
}
.w3-button:nth-child(1)::before {
	height: 39px;
}
#slider img {
	width: 100% !important;
	margin: 0 auto;
}
.in_left button {
	padding: 12px 20px;
}
.head_bg {
	width: 60%;
}
.who_heading h2 {
	font-size: 28px;
}
.result_sm_fld_hf {
	width: 47%;
}
.result_sm_fld_hf:nth-child(2n) {
	margin-right: 0;
}
.result_sm_fld_hf {
	margin-right: 22px;
}
.result_sm_fld_hf2 {
	width: 100%;
}
.offer_search_box {
	width: 80%;
	margin: 0 auto;
	float: none;
	margin-top: 20px;
}
.offer_search_box:nth-child(4n+2) {
	margin: 0 auto;
	margin-top: 20px;
}
.field_left {
	width: 100%;
	float: none;
	text-align: center;
}
.field_right {
	width: 100%;
	float: none;
	text-align: center;
}
.input_main2 {
	margin-top: 5px;
}
.sellers_table table {
	border: #d0d0d0 solid 1px;
	width: 130%;
}
.sellers_table {
	overflow-x: scroll;
}
.pro_top_head h2 {
	font-size: 18px;
}
.head_btm_heading h2 {
	font-size: 18px !important;
}
.head_btm_form h2 {
	font-size: 18px;
}
.pro_det_box:nth-child(4n) {
	margin-right: auto;
}
.owl-carousel2 .owl-dot, .owl-carousel2 .owl-nav .owl-next {
	margin-top: -190px;
}
.owl-carousel2 .owl-dot, .owl-carousel2 .owl-nav .owl-prev {
	margin-top: -190px;
}
.sub_menu_list h4 {
	font-size: 12px;
	padding: 7px 20px 7px 10px;
}
.sub_menu_list ul li a {
	padding-left: 0;
	padding: 5px 4px;
	box-sizing: border-box;
	font-size: 11px;
}
.options ul li .islamicLogo {
    width: 90%;
}
.in_left button {
    padding: 11px 20px;
}
.allContent {
    margin-top: 390px;
}
}

@media screen and (max-width:450px) {
.top_right ul li a {
	font-size: 11px;
	padding: 0 5px;
}
.options ul li {
	padding: 0 5px;
	font-size: 12px;
}
.options ul li img {
	width: 80%;
}
.options ul li .cart {
	top: -8px;
	right: 10px;
}
.easy_box {
	background: none;
	width: 100%;
	margin: 10px 0;
}
.offers h2 {
	font-size: 20px;
	line-height: 23px;
}
.offers_box {
	width: 94%;
}
.deals_box_details h2::before {
	height: 33px;
}
.w3-button {
	padding: 13px 16px;
	font-size: 15px;
	display: block;
	width: 100%;
	transform: skewX(0deg);
	margin: 5px 0;
}
.w3-button p {
	transform: skewX(0deg);
}
.w3-button:nth-child(1)::before {
	display: none;
}
.w3-bar {
	padding-left: 0;
}
.in_left input {
	padding: 12px 130px 12px 20px;
}
.dropdown-menu {
	padding-top: 0;
}
.owl-carousel2 .owl-dot, .owl-carousel2 .owl-nav .owl-next {
	margin-right: -40px;
}
footer p {
	font-size: 12px;
}
.head_bg {
	width: 80%;
}
.who_heading h2 {
	font-size: 26px;
}
.results h2 {
	width: 100%;
}
.result_sm_fld_hf {
	margin-right: 15px;
}
.offer_search_box {
	width: 100%;
}
.customer_details {
	padding: 10px 0px 20px 0;
	width: 100%;
}
.customer_details .row h3 span {
	font-size: 12px;
}
.customer_details .row .img_sm {
	width: 8%;
}
.field_right label {
	font-size: 12px;
}
.pro_top_box_img img {
	width: 100%;
}
.pro_detalis_main {
	padding: 20px 0 50px 0;
}
.pro_top_box_det {
	padding: 10px 20px !important;
}
.table_btn {
	width: 95%;
}
.more_itm {
	width: 100% !important;
}
.in_left button {
	padding: 13px 20px;
}
.sellers_table td span {
	font-size: 12px !important;
}
.input_main input {
	font-size: 12px;
}
.easy_box span {
	font-size: 34px;
}
.owl-carousel2 .owl-dot, .owl-carousel2 .owl-nav .owl-prev {
	margin-top: -150px;
}
.owl-carousel2 .owl-dot, .owl-carousel2 .owl-nav .owl-next {
	margin-top: -150px;
}
.in_left button {
    padding: 12px 20px;
}
.sticky .dropbtn {
    padding: 6px 16px;
}
.sticky .in_left input {
    padding: 6px 160px 6px 20px;
}
.sticky .in_left button {
    padding: 6px 30px;
}
.sticky .in_right button {
    padding: 6px 0;
}
.options ul li .islamicLogo {
    width: 90%;
}
}
@media screen and (max-width:374px) {
.options ul li {
    padding: 0 0px;
    }
}
