@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?mu0wmw');
  src:  url('../fonts/icomoon.eot?mu0wmw#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?mu0wmw') format('truetype'),
    url('../fonts/icomoon.woff?mu0wmw') format('woff'),
    url('../fonts/icomoon.svg?mu0wmw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-handshake:before {
  content: "\e900";
}
.icon-magnifier-tool:before {
  content: "\e901";
}
.icon-profile:before {
  content: "\e902";
}
.icon-shop:before {
  content: "\e903";
}
.icon-smartphone-call:before {
  content: "\e90b";
}
.icon-loupe:before {
  content: "\e904";
}
.icon-laptop:before {
  content: "\e90c";
}
.icon-kitchen:before {
  content: "\e90d";
}
.icon-shop-1:before {
  content: "\e905";
}
.icon-auricular-phone-symbol-in-a-circle:before {
  content: "\e906";
}
.icon-clipboard-with-a-check-mark:before {
  content: "\e907";
}
.icon-house-outline:before {
  content: "\e90e";
}
.icon-shield:before {
  content: "\e908";
}
.icon-umbrella:before {
  content: "\e90f";
}
.icon-customer:before {
  content: "\e909";
}
.icon-light-bulb:before {
  content: "\e910";
}
.icon-computer:before {
  content: "\e90a";
}
.icon-photo-camera:before {
  content: "\e911";
}
.icon-car:before {
  content: "\e912";
}
.validation_errors{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 15px;
  padding-right: 35px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.descriptionTextArea
{
	width:100%;
}